In [39]:
Prediction

,BUKIT MERAH,BUKIT PANJANG,BUKIT TIMAH,CENTRAL WATER CATCHMENT,CHANGI,CHOA CHU KANG,CLEMENTI,HOUGANG,JURONG EAST,JURONG WEST,...,SINGAPORE RIVER,STRAITS VIEW,CHANGI BAY,MARINE PARADE,GEYLANG,PAYA LEBAR,WESTERN ISLANDS,WESTERN WATER CATCHMENT,WOODLANDS,YISHUN
0,0.000000,11801.153055,7285.555760,11727.605889,21219.086601,15069.878839,8552.513484,12441.932351,10913.639880,15228.336785,...,2728.259723,5800.375314,26663.970694,9595.800021,9052.865975,13940.794275,12085.688405,19498.609475,19189.279821,15778.005629
1,11801.153055,0.000000,4523.459054,3321.018256,25588.235593,3541.153151,5612.306333,13003.483794,7161.660539,8074.721069,...,11382.891056,16994.785211,32314.728877,18303.253061,13926.812556,15799.844748,16434.287300,9741.338977,8486.111357,8907.549437
2,7285.555760,4523.459054,0.000000,5289.399414,23503.226876,7822.238515,3604.512914,11639.256997,6455.612039,9634.319694,...,7144.707832,12631.143946,29906.421553,14584.338004,11043.957271,14186.186644,13589.709392,12966.105831,12440.999877,10729.064832
3,11727.605889,3321.018256,5289.399414,0.000000,22631.074216,6090.310227,7931.975597,9964.978992,10078.689893,11395.311798,...,10554.169342,16172.672171,29451.542056,16511.149567,11603.113070,12783.470977,18658.600711,12724.814637,7462.027830,5830.855805
4,21219.086601,25588.235593,23503.226876,22631.074216,0.000000,28721.187147,26933.095315,12672.382869,29848.896622,33015.701761,...,18736.425191,18079.710186,6963.328168,12612.107756,12680.341719,9854.516628,33281.851530,35305.476672,26431.880659,20016.590581
5,15069.878839,3541.153151,7822.238515,6090.310227,28721.187147,0.000000,7665.759339,16054.709594,7949.201684,6764.542902,...,14861.216911,20432.304444,35531.702258,21842.495828,17378.827264,18873.452155,17795.965181,6695.187847,7637.796731,10525.326271
6,8552.513484,5612.306333,3604.512914,7931.975597,26933.095315,7665.759339,0.000000,15237.912494,2915.876061,6759.275772,...,9455.620533,14335.079601,33205.065530,17242.020949,14335.773634,17754.262382,10850.901590,10976.676667,14089.693860,13724.053165
7,12441.932351,13003.483794,11639.256997,9964.978992,12672.382869,16054.709594,15237.912494,0.000000,18087.006227,20720.697846,...,9764.025224,13074.963742,19535.809090,10063.800977,4726.302388,2819.030407,23786.112430,22669.752026,14453.758890,8165.684903
8,10913.639880,7161.660539,6455.612039,10078.689893,29848.896622,7949.201684,2915.876061,18087.006227,0.000000,4450.050813,...,12163.252093,16703.135832,36105.108163,19975.136500,17243.648729,20639.451542,9857.936895,9272.310087,15231.572635,15900.703937
9,15228.336785,8074.721069,9634.319694,11395.311798,33015.701761,6764.542902,6759.275772,20720.697846,4450.050813,0.000000,...,16203.240234,21028.552713,39513.990047,23962.488549,20673.631073,23439.532405,12975.010724,5046.591189,14353.166329,16805.419367
10,6376.943292,12095.953025,8694.879936,10265.806859,15402.923400,15625.849551,11795.506604,6357.291414,14678.657590,18302.244081,...,3653.327955,7066.181367,21441.029769,6260.586479,2776.133930,7570.171210,18300.794763,21520.902149,17052.474000,11947.897394
11,21368.867355,9647.308115,14096.652722,11192.497399,33085.080125,6314.043764,13804.369329,20573.209355,13427.921010,10469.271264,...,21020.829477,26641.821737,40027.323401,27644.511962,22786.469042,23328.116107,23130.807998,6733.960462,7499.098385,13315.512471
12,16819.239560,7085.032136,10435.112304,5195.832727,23937.550422,7453.117219,12610.396765,11767.374062,14203.178144,14145.935696,...,15379.649855,20857.746694,30900.239405,20325.571782,14930.046895,14376.173432,23461.173138,13584.433728,2758.437838,3972.028466
13,26788.829738,28647.205314,27560.034364,25403.188361,7145.149829,31319.650611,31147.411500,15935.680968,34014.254805,36566.956434,...,24128.527187,24520.914942,9852.586946,19153.478214,17769.991798,13418.940621,38823.388210,38013.726664,27334.806732,21328.803316
14,6110.647755,8215.388499,4975.738399,6676.345246,18574.517287,11752.244549,8362.460425,7294.005866,11277.995270,14602.754264,...,4129.348219,9577.336841,24931.757268,10091.823373,6070.876825,9542.788481,16549.339048,17644.928489,13886.532163,9738.827438
15,18424.440242,19687.502646,18543.164406,16491.799065,7282.283180,22498.500423,22138.206005,6906.966414,24993.363215,27552.943657,...,15701.621521,17315.303654,14141.092782,12571.934513,9432.894871,4546.346049,30255.067804,29186.346009,19371.334181,13029.380081
16,17427.280096,13135.130386,13579.255662,16408.573636,37010.793522,12119.818545,10078.202846,25156.240468,7162.362851,5355.849843,...,19067.607894,23042.448286,43233.995201,26842.024359,24392.363992,27757.803221,10864.571864,8606.721483,19686.511186,22005.302033
17,17911.549138,16134.744706,16038.757586,12817.930237,12395.644399,18512.017389,19595.639176,5525.545894,22278.349057,24198.477136,...,15262.578183,18443.233600,19238.139803,14761.106661,9987.343856,5420.836392,28930.476006,25180.734973,14501.005352,8364.846140
18,12020.080253,7828.718734,7962.706239,4567.678265,18247.401735,10579.209686,11389.951997,5611.937348,13965.137210,15850.092436,...,9949.944491,14988.517113,25139.066889,13858.961695,8408.577292,8406.008378,21410.730554,17257.840021,9286.693854,3903.626016
19,13530.197612,20025.926534,17035.459028,17600.214460,7945.930806,23461.896203,20169.814129,8826.670734,23041.363485,26664.288491,...,11242.055823,10149.537803,13190.516964,4701.639214,6103.130101,6902.361393,25493.928761,29674.117770,23153.391555,16974.245219
20,9254.644838,7618.915710,6185.009768,4982.463904,17991.818725,10914.823636,9783.626234,5576.921778,12578.283001,15155.403441,...,7170.277459,12323.549514,24695.829389,11744.374658,6635.224666,8288.029792,19149.994104,17359.544518,11402.318073,6654.036292
21,14281.370427,10026.759342,10154.853993,13224.017154,33586.838939,9607.061589,6653.861475,21749.490884,3738.507537,3297.918426,...,15766.904586,19994.414696,39834.161752,23568.508312,20979.407630,24337.573625,9875.030124,8067.290269,17241.072189,18934.184295
22,11924.113061,2378.277335,4906.542709,5668.089123,27513.342600,3410.786565,4262.786634,15057.443167,5040.613748,5758.864545,...,12047.823451,17471.796913,34143.216403,19427.814140,15485.445926,17816.168131,14690.720541,8138.804549,10210.842134,11277.184980
23,5052.679101,9599.935869,5666.139828,10955.232826,25717.784659,12167.064526,4592.520865,15426.375769,6214.068523,10658.260888,...,7041.289980,10683.564613,31470.336595,14595.196229,13127.625500,17492.949727,8419.936397,15319.992055,17956.738351,16265.575862
24,17137.520159,13060.302717,13795.459143,9766.710018,16019.534606,15085.489536,17186.218282,6089.020702,19672.833074,21113.887242,...,14710.287954,18868.539924,22929.782695,16151.832769,10758.833631,7571.715529,27206.589257,21683.903604,10684.479247,4664.124821
25,20680.516500,11523.121749,14723.923138,9434.591431,24124.843418,11502.295496,17044.783172,13224.315346,18618.874092,18266.804043,...,18939.533752,24159.303777,31010.646112,22805.721987,17246.409077,15374.492150,27893.999632,16978.818088,4178.089942,5346.731736
26,14900.594973,13049.139364,12746.427479,9762.607925,13805.456461,15650.620298,16310.398312,3065.359487,19013.802250,21072.396093,...,12325.251302,16060.238222,20768.731778,13103.994406,7785.325219,4637.163036,25683.015485,22345.669063,12636.687004,6212.869125
27,11322.829039,10553.862351,9424.004179,7521.485391,15109.620109,13611.719831,13026.895634,2452.475965,15829.338042,18317.350172,...,8814.990194,13041.194274,21946.293480,11025.090934,5462.230606,5265.402405,22080.833463,20218.267201,12469.211012,6483.972384
28,19368.450669,12716.308025,14687.577634,9766.265134,19736.612689,13859.201537,17682.883232,9706.652301,19798.171225,20408.846482,...,17206.586256,21897.331904,26583.226286,19703.485938,14187.729993,11444.053624,28272.053618,20078.215583,7874.040990,3968.886376
29,4879.377732,16349.183981,11846.216949,16564.916236,23173.271377,19414.439343,12202.288124,16496.127165,13908.725609,18358.040411,...,6970.269777,5186.257652,27703.862024,10607.763275,12379.267857,17479.804987,11201.193945,23057.015677,24018.192280,20613.651669
30,17874.833064,6155.873089,10647.876222,6882.104452,28573.671953,3968.105153,11341.891616,16052.831982,11904.050888,10429.915037,...,17162.949332,22818.640840,35511.600316,23392.033584,18388.022013,18807.334099,21732.505763,8758.580192,4086.130303,8944.141085
31,16707.213837,21619.092124,19219.371993,18835.311571,4513.329239,24888.292541,22580.371814,9089.426612,25492.209391,28805.883705,...,14226.572546,13786.067821,10722.596643,8372.964380,8257.201111,6429.525920,28775.188865,31360.175820,23433.866583,17033.893464
32,3966.821597,8148.699137,3830.869112,7767.102674,20803.716592,11585.581379,6407.758986,10095.204312,9252.644324,13068.978871,...,3314.156409,8850.836743,26895.682922,10904.776648,8123.695601,12198.633383,13707.457418,16738.232977,15228.900602,11992.902536
33,14568.122379,4935.700577,7845.595364,8186.149413,30460.538639,3157.912227,6233.755413,17923.514343,5467.236175,3617.923674,...,14937.710912,20241.065868,37129.722559,22418.741192,18512.511708,20709.154083,15235.478668,5125.734554,10783.674298,13322.473700
34,8184.000936,10347.828655,7861.438815,7991.510279,15650.758975,13773.008584,11357.702301,4374.655590,14266.118245,17383.430285,...,5601.733193,9926.579744,22152.416923,8725.051331,3620.138679,6487.964043,19419.837462,20042.384855,14356.376006,9063.515603
35,21116.541917,18979.836986,18769.188174,22187.794284,41733.872781,18147.457028,15165.094834,30398.906667,12376.256426,11382.921909,...,23208.185549,26257.978493,47639.260622,30712.172827,29055.636165,32869.771203,11173.067030,14130.416458,25712.655029,27885.512394
36,3868.636345,12751.945928,8650.417655,11629.785241,17354.001497,16265.127449,11080.707436,9315.676813,13795.266903,17822.379053,...,1632.015746,4619.938561,22905.611780,6180.142037,5344.354589,10391.667384,15952.162052,21584.793453,18859.322911,14327.999651
37,7042.428123,16850.241438,12796.933394,15491.512207,15313.667970,20377.034930,15110.255020,10815.388354,17730.552137,21868.934908,...,5701.336960,2831.595403,20032.041331,2778.790328,6092.410183,10810.698823,18447.157636,25722.226775,22484.365995,17381.718933
38,6586.725305,17028.286180,12832.857855,15877.136055,16369.752757,20529.413821,14912.759084,11790.686574,17439.623225,21664.053399,...,5689.045517,1718.455286,20924.447658,3768.983398,7089.433043,11899.828591,17616.891288,25668.469300,23002.985693,18091.758217
39,3614.914642,11348.164375,7284.708879,10264.494928,17962.239657,14863.688934,9862.826645,8891.793666,12639.785548,16571.715477,...,887.240926,5921.684787,23752.481226,7391.054035,5506.668479,10327.019909,15546.836260,20239.652046,17545.201720,13215.301561
40,4261.402672,9685.954514,5776.513127,8565.542208,18558.429345,13213.818641,8662.239637,8371.948396,11524.931767,15262.408482,...,2080.062241,7609.068779,24616.504879,8808.349716,5882.992602,10214.660733,15505.371853,18736.839969,15878.606752,11763.375895
41,3584.376695,9695.810011,5582.174443,8824.246527,19159.629642,13196.379809,8247.282021,9105.750885,11071.199486,14918.256691,...,1735.846056,7388.591834,25142.116927,9060.898866,6506.261128,10929.047623,14785.518743,18538.470552,16209.832329,12305.825508
42,2330.763366,12052.906126,7735.730738,11324.404305,18907.214293,15505.695483,9830.207474,10392.803848,12458.711295,16589.469254,...,807.930198,4944.845789,24449.250844,7584.866953,6752.036947,11709.873987,14414.640741,20532.242108,18707.789303,14626.247117
43,3002.486656,10192.698069,5973.328686,9426.366772,19266.178790,13671.884278,8431.162775,9549.730511,11202.634416,15151.126857,...,1190.296296,6832.656044,25143.009221,8813.631198,6677.978180,11264.254342,14461.649554,18888.202551,16827.381806,12941.270058
44,4775.430306,11308.239748,7529.126561,9894.033067,17017.673646,14847.751099,10404.977833,7732.987217,13249.739403,17025.376500,...,2051.959536,6526.134848,22950.992426,7068.715240,4438.236566,9174.498882,16638.143803,20478.034255,17017.297009,12394.104998
45,2728.259723,11382.891056,7144.707832,10554.169342,18736.425191,14861.216911,9455.620533,9764.025224,12163.252093,16203.240234,...,0.000000,5655.692373,24432.279908,7812.060048,6363.503255,11212.753083,14698.465271,20027.128573,17920.469597,13821.045846
46,5800.375314,16994.785211,12631.143946,16172.672171,18079.710186,20432.304444,14335.079601,13074.963742,16703.135832,21028.552713,...,5655.692373,0.000000,22523.256601,5469.861554,8456.897338,13406.392458,16141.568879,25238.236893,23463.842396,18886.867081
47,26663.970694,32314.728877,29906.421553,29451.542056,6963.328168,35531.702258,33205.065530,19535.809090,36105.108163,39513.990047,...,24432.279908,22523.256601,0.000000,17263.411328,18878.796478,16733.247795,38469.330748,42054.566212,33392.485873,26979.440229
48,9595.800021,18303.253061,14584.338004,16511.149567,12612.107756,21842.495828,17242.020949,10063.800977,19975.136500,23962.488549,...,7812.060048,5469.861554,17263.411328,0.000000,5565.249406,9363.812051,21207.178403,27544.007807,23074.230011,17480.693074
49,9052.865975,13926.812556,11043.957271,11603.113070,12680.341719,17378.827264,14335.773634,4726.302388,17243.648729,20673.631073,...,6363.503255,8456.897338,18878.796478,5565.249406,0.000000,5101.546596,21053.433595,23573.366322,17688.332305,11932.288186
50,13940.794275,15799.844748,14186.186644,12783.470977,9854.516628,18873.452155,17754.262382,2819.030407,20639.451542,23439.532405,...,11212.753083,13406.392458,16733.247795,9363.812051,5101.546596,0.000000,25712.952218,25482.704472,17004.342100,10608.904363
51,12085.688405,16434.287300,13589.709392,18658.600711,33281.851530,17795.965181,10850.901590,23786.112430,9857.936895,12975.010724,...,14698.465271,16141.568879,38469.330748,21207.178403,21053.433595,25712.952218,0.000000,17928.060987,24853.795280,24307.491015
52,19498.609475,9741.338977,12966.105831,12724.814637,35305.476672,6695.187847,10976.676667,22669.752026,9272.310087,5046.591189,...,20027.128573,25238.236893,42054.566212,27544.007807,23573.366322,25482.704472,17928.060987,0.000000,12804.576243,17057.923521
53,19189.279821,8486.111357,12440.999877,7462.027830,26431.880659,7637.796731,14089.693860,14453.758890,15231.572635,14353.166329,...,17920.469597,23463.842396,33392.485873,23074.230011,17688.332305,17004.342100,24853.795280,12804.576243,0.000000,6428.377065
54,15778.005629,8907.549437,10729.064832,5830.855805,20016.590581,10525.326271,13724.053165,8165.684903,15900.703937,16805.419367,...,13821.045846,18886.867081,26979.440229,17480.693074,11932.288186,10608.904363,24307.491015,17057.923521,6428.377065,0.000000

In [57]:
#read KML file
gpd.io.file.fiona.drvsupport.supported_drivers['KML'] = 'rw'

In [58]:
pa_plg = pa = gpd.read_file(path+'/master-plan-2019-planning-area-boundary-no-sea/planning-boundary-area.kml', driver='KML')

pa = pa.to_crs(3414)

def extract_desc_pa(desc_pa):
    return desc_pa.split('PLN_AREA_N')[1].split('<td>')[1].split('<')[0]
pa['PLN_AREA_N'] = pa.Description.apply(extract_desc_pa)

pa['centroid'] = pa.centroid

pa

,Name,Description,geometry,PLN_AREA_N,centroid
0,kml_1,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((26228.902 30746.172 0.000, 26280.4...",BUKIT MERAH,POINT (26912.598 28387.822)
1,kml_2,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((21448.724 41356.741 0.000, 21508.5...",BUKIT PANJANG,POINT (21287.044 38761.845)
2,kml_3,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((24031.387 36694.742 0.000, 24076.6...",BUKIT TIMAH,POINT (23256.937 34689.842)
3,kml_4,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((24934.967 44017.724 0.000, 24953.6...",CENTRAL WATER CATCHMENT,POINT (24425.213 39848.609)
4,kml_5,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((45094.369 42203.459 0.000, 45174.6...",CHANGI,POINT (46724.354 35986.766)
5,kml_6,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((18349.061 43028.676 0.000, 18383.8...",CHOA CHU KANG,POINT (18415.053 40833.423)
6,kml_7,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((20627.133 34823.182 0.000, 20628.0...",CLEMENTI,POINT (19923.845 33317.612)
7,kml_8,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((33363.801 41074.684 0.000, 33494.8...",HOUGANG,POINT (34285.759 38409.707)
8,kml_9,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((18003.863 36295.207 0.000, 18060.7...",JURONG EAST,POINT (17024.585 33006.775)
9,kml_10,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((16293.567 36778.095 0.000, 16297.1...",JURONG WEST,POINT (13708.654 35974.528)
10,kml_11,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((31277.373 34723.293 0.000, 31305.9...",KALLANG,POINT (31697.690 32603.068)
11,kml_12,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((12215.886 46624.330 0.000, 12154.7...",LIM CHU KANG,POINT (15295.269 46322.876)
12,kml_13,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((27006.774 46306.595 0.000, 27011.2...",MANDAI,POINT (24565.849 45042.539)
13,kml_14,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((54866.410 45841.770 0.000, 56199.9...",NORTH-EASTERN ISLANDS,POINT (49691.025 42486.922)
14,kml_15,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((28297.100 35982.083 0.000, 28414.0...",NOVENA,POINT (28221.506 34356.639)
15,kml_16,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((41759.027 41548.224 0.000, 41899.4...",PASIR RIS,POINT (40908.775 40369.767)
16,kml_17,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((11617.102 34443.879 0.000, 11672.6...",PIONEER,POINT (9907.663 32201.255)
17,kml_18,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((37044.779 45382.621 0.000, 37101.0...",PUNGGOL,POINT (36754.815 43352.926)
18,kml_19,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((30658.500 42047.527 0.000, 30670.4...",ANG MO KIO,POINT (28976.999 40229.299)
19,kml_20,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((38974.269 36138.243 0.000, 39371.4...",BEDOK,POINT (40029.276 31707.310)
20,kml_21,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((29073.657 38481.421 0.000, 29073.6...",BISHAN,POINT (28792.102 37449.605)
21,kml_22,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((15436.019 34495.789 0.000, 15391.9...",BOON LAY,POINT (13298.503 32702.214)
22,kml_23,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((20294.455 39114.528 0.000, 20334.3...",BUKIT BATOK,POINT (19254.183 37527.470)
23,kml_24,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((22578.139 32599.228 0.000, 22594.5...",QUEENSTOWN,POINT (21922.881 29182.989)
24,kml_25,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((33954.997 42590.289 0.000, 33952.5...",SELETAR,POINT (33078.252 44377.797)
25,kml_26,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((29613.093 49122.834 0.000, 29549.2...",SEMBAWANG,POINT (26450.839 49063.182)
26,kml_27,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((34138.387 42546.949 0.000, 34303.4...",SENGKANG,POINT (34052.875 41466.207)
27,kml_28,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((33460.965 36295.848 0.000, 33497.3...",SERANGOON,POINT (31839.383 38582.587)
28,kml_29,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((31398.262 45334.039 0.000, 31188.4...",SIMPANG,POINT (30620.973 47397.946)
29,kml_30,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((23800.133 27154.497 0.000, 24577.7...",SOUTHERN ISLANDS,POINT (27192.522 23516.480)
30,kml_31,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((18669.879 47923.318 0.000, 19729.5...",SUNGEI KADUT,POINT (19496.091 44651.434)
31,kml_32,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((43284.207 35958.031 0.000, 43286.2...",TAMPINES,POINT (42475.003 34465.858)
32,kml_33,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((26956.450 31417.381 0.000, 26981.7...",TANGLIN,POINT (26250.114 32298.933)
33,kml_34,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((17343.525 36514.977 0.000, 17310.1...",TENGAH,POINT (16362.260 38433.745)
34,kml_35,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((29274.160 36231.097 0.000, 29308.6...",TOA PAYOH,POINT (31083.529 35429.214)
35,kml_36,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((2167.640 21986.320 0.000, 2168.070...",TUAS,POINT (5804.715 27783.152)
36,kml_37,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((31698.590 31800.000 0.000, 31744.0...",DOWNTOWN CORE,POINT (30468.268 29912.142)
37,kml_38,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((33423.241 29530.818 0.000, 36349.5...",MARINA EAST,POINT (33910.913 27600.816)
38,kml_39,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((32743.943 28935.321 0.000, 35625.5...",MARINA SOUTH,POINT (33269.452 26662.902)
39,kml_40,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((29383.412 31475.097 0.000, 29456.4...",MUSEUM,POINT (29491.145 30921.337)
40,kml_41,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((29385.601 32461.414 0.000, 29506.6...",NEWTON,POINT (28529.657 32330.495)
41,kml_42,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((28223.652 32264.035 0.000, 28229.4...",ORCHARD,POINT (28029.142 31793.858)
42,kml_43,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((29092.275 30021.888 0.000, 29119.6...",OUTRAM,POINT (28972.958 29477.489)
43,kml_44,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((27695.960 31815.222 0.000, 27712.9...",RIVER VALLEY,POINT (28073.418 31156.833)
44,kml_45,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((30542.662 32377.352 0.000, 30618.8...",ROCHOR,POINT (30222.013 31830.568)
45,kml_46,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((28087.344 30540.999 0.000, 28087.5...",SINGAPORE RIVER,POINT (28878.215 30279.845)
46,kml_47,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((31774.113 28308.767 0.000, 34513.8...",STRAITS VIEW,POINT (31966.877 25542.016)
47,kml_48,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((51953.356 37756.739 0.000, 52431.6...",CHANGI BAY,POINT (53128.849 33253.568)
48,kml_49,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((36317.742 32458.455 0.000, 36335.3...",MARINE PARADE,POINT (36506.184 28593.913)
49,kml_50,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((35619.754 32450.586 0.000, 35588.2...",GEYLANG,POINT (34254.949 33683.505)
50,kml_51,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((37483.614 40361.733 0.000, 37520.1...",PAYA LEBAR,POINT (37065.552 37941.003)
51,kml_52,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((18153.520 15136.530 0.000, 17456.4...",WESTERN ISLANDS,POINT (15995.724 23202.676)
52,kml_53,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((13014.970 44497.659 0.000, 13013.4...",WESTERN WATER CATCHMENT,POINT (11723.453 40614.255)
53,kml_54,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((23492.128 49118.389 0.000, 23492.7...",WOODLANDS,POINT (22751.819 47120.584)
54,kml_55,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((30918.906 45252.694 0.000, 31188.4...",YISHUN,POINT (28422.806 44093.385)

In [59]:
pa_dict = pa.set_index(['PLN_AREA_N'])['centroid'].to_dict()

In [60]:
T_i_bus = pd.read_csv(path + '/Total_bus_flux2019.csv').drop(columns='Unnamed: 0')

T_ij_bus= pd.read_csv(path+'/Total_bus_flux_ij2019.csv').drop(columns='Unnamed: 0')

T_i_MRT = pd.read_csv(path + '/Total_MRT_flux2019.csv').drop(columns='Unnamed: 0')

T_ij_MRT = pd.read_csv(path + '/Total_MRT_flux_ij2019.csv').drop(columns='Unnamed: 0')

T_i_bus_dict = T_i_bus.set_index(['ORIGIN_loc'])['TOTAL_TRIPS'].to_dict()

T_i_MRT_dict= T_i_MRT.set_index(['ORIGIN_loc'])['TOTAL_TRIPS'].to_dict()

In [64]:
Pop_dens = pd.DataFrame()

Pop_dens = GPR.groupby(GPR['PLN_AREA_N']).sum(numeric_only=True)["POP_DENS"].reset_index()

Pop_dens.shape

(48, 2)

In [65]:
Pop_dens

                 PLN_AREA_N      POP_DENS
0                ANG MO KIO  1.103508e+07
1                     BEDOK  2.057210e+07
2                    BISHAN  6.030975e+06
3                  BOON LAY  1.032779e+07
4               BUKIT BATOK  9.928237e+06
5               BUKIT MERAH  1.095066e+07
6             BUKIT PANJANG  6.631214e+06
7               BUKIT TIMAH  4.795816e+06
8                    CHANGI  1.815505e+06
9             CHOA CHU KANG  8.618132e+06
10                 CLEMENTI  9.963203e+06
11            DOWNTOWN CORE  1.117518e+07
12                  GEYLANG  1.528668e+07
13                  HOUGANG  1.717530e+07
14              JURONG EAST  1.690121e+07
15              JURONG WEST  1.804332e+07
16                  KALLANG  1.015094e+07
17                   MANDAI  7.036496e+04
18             MARINA SOUTH  1.325685e+06
19            MARINE PARADE  3.935884e+06
20                   MUSEUM  6.077784e+05
21                   NEWTON  1.620337e+06
22                   NOVENA  4.139836e+06
23                  ORCHARD  2.991267e+06
24                   OUTRAM  1.964294e+06
25                PASIR RIS  1.433411e+07
26               PAYA LEBAR  3.573326e+06
27                  PIONEER  1.315212e+07
28                  PUNGGOL  1.131053e+07
29               QUEENSTOWN  1.135299e+07
30             RIVER VALLEY  2.318422e+06
31                   ROCHOR  2.010964e+06
32                  SELETAR  1.435145e+06
33                SEMBAWANG  1.333170e+07
34                 SENGKANG  1.496790e+07
35                SERANGOON  7.821530e+06
36          SINGAPORE RIVER  1.351679e+06
37             STRAITS VIEW  1.200030e+06
38             SUNGEI KADUT  5.479153e+06
39                 TAMPINES  2.079842e+07
40                  TANGLIN  2.938273e+06
41                   TENGAH  5.644710e+06
42                TOA PAYOH  1.013134e+07
43                     TUAS  2.675359e+07
44          WESTERN ISLANDS  3.342372e+07
45  WESTERN WATER CATCHMENT  2.506920e+04
46                WOODLANDS  1.613645e+07
47                   YISHUN  1.217021e+07

In [66]:
pa

,Name,Description,geometry,PLN_AREA_N,centroid
0,kml_1,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((26228.902 30746.172 0.000, 26280.4...",BUKIT MERAH,POINT (26912.598 28387.822)
1,kml_2,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((21448.724 41356.741 0.000, 21508.5...",BUKIT PANJANG,POINT (21287.044 38761.845)
2,kml_3,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((24031.387 36694.742 0.000, 24076.6...",BUKIT TIMAH,POINT (23256.937 34689.842)
3,kml_4,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((24934.967 44017.724 0.000, 24953.6...",CENTRAL WATER CATCHMENT,POINT (24425.213 39848.609)
4,kml_5,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((45094.369 42203.459 0.000, 45174.6...",CHANGI,POINT (46724.354 35986.766)
5,kml_6,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((18349.061 43028.676 0.000, 18383.8...",CHOA CHU KANG,POINT (18415.053 40833.423)
6,kml_7,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((20627.133 34823.182 0.000, 20628.0...",CLEMENTI,POINT (19923.845 33317.612)
7,kml_8,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((33363.801 41074.684 0.000, 33494.8...",HOUGANG,POINT (34285.759 38409.707)
8,kml_9,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((18003.863 36295.207 0.000, 18060.7...",JURONG EAST,POINT (17024.585 33006.775)
9,kml_10,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((16293.567 36778.095 0.000, 16297.1...",JURONG WEST,POINT (13708.654 35974.528)
10,kml_11,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((31277.373 34723.293 0.000, 31305.9...",KALLANG,POINT (31697.690 32603.068)
11,kml_12,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((12215.886 46624.330 0.000, 12154.7...",LIM CHU KANG,POINT (15295.269 46322.876)
12,kml_13,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((27006.774 46306.595 0.000, 27011.2...",MANDAI,POINT (24565.849 45042.539)
13,kml_14,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((54866.410 45841.770 0.000, 56199.9...",NORTH-EASTERN ISLANDS,POINT (49691.025 42486.922)
14,kml_15,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((28297.100 35982.083 0.000, 28414.0...",NOVENA,POINT (28221.506 34356.639)
15,kml_16,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((41759.027 41548.224 0.000, 41899.4...",PASIR RIS,POINT (40908.775 40369.767)
16,kml_17,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((11617.102 34443.879 0.000, 11672.6...",PIONEER,POINT (9907.663 32201.255)
17,kml_18,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((37044.779 45382.621 0.000, 37101.0...",PUNGGOL,POINT (36754.815 43352.926)
18,kml_19,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((30658.500 42047.527 0.000, 30670.4...",ANG MO KIO,POINT (28976.999 40229.299)
19,kml_20,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((38974.269 36138.243 0.000, 39371.4...",BEDOK,POINT (40029.276 31707.310)
20,kml_21,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((29073.657 38481.421 0.000, 29073.6...",BISHAN,POINT (28792.102 37449.605)
21,kml_22,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((15436.019 34495.789 0.000, 15391.9...",BOON LAY,POINT (13298.503 32702.214)
22,kml_23,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((20294.455 39114.528 0.000, 20334.3...",BUKIT BATOK,POINT (19254.183 37527.470)
23,kml_24,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((22578.139 32599.228 0.000, 22594.5...",QUEENSTOWN,POINT (21922.881 29182.989)
24,kml_25,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((33954.997 42590.289 0.000, 33952.5...",SELETAR,POINT (33078.252 44377.797)
25,kml_26,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((29613.093 49122.834 0.000, 29549.2...",SEMBAWANG,POINT (26450.839 49063.182)
26,kml_27,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((34138.387 42546.949 0.000, 34303.4...",SENGKANG,POINT (34052.875 41466.207)
27,kml_28,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((33460.965 36295.848 0.000, 33497.3...",SERANGOON,POINT (31839.383 38582.587)
28,kml_29,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((31398.262 45334.039 0.000, 31188.4...",SIMPANG,POINT (30620.973 47397.946)
29,kml_30,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((23800.133 27154.497 0.000, 24577.7...",SOUTHERN ISLANDS,POINT (27192.522 23516.480)
30,kml_31,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((18669.879 47923.318 0.000, 19729.5...",SUNGEI KADUT,POINT (19496.091 44651.434)
31,kml_32,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((43284.207 35958.031 0.000, 43286.2...",TAMPINES,POINT (42475.003 34465.858)
32,kml_33,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((26956.450 31417.381 0.000, 26981.7...",TANGLIN,POINT (26250.114 32298.933)
33,kml_34,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((17343.525 36514.977 0.000, 17310.1...",TENGAH,POINT (16362.260 38433.745)
34,kml_35,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((29274.160 36231.097 0.000, 29308.6...",TOA PAYOH,POINT (31083.529 35429.214)
35,kml_36,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((2167.640 21986.320 0.000, 2168.070...",TUAS,POINT (5804.715 27783.152)
36,kml_37,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((31698.590 31800.000 0.000, 31744.0...",DOWNTOWN CORE,POINT (30468.268 29912.142)
37,kml_38,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((33423.241 29530.818 0.000, 36349.5...",MARINA EAST,POINT (33910.913 27600.816)
38,kml_39,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((32743.943 28935.321 0.000, 35625.5...",MARINA SOUTH,POINT (33269.452 26662.902)
39,kml_40,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((29383.412 31475.097 0.000, 29456.4...",MUSEUM,POINT (29491.145 30921.337)
40,kml_41,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((29385.601 32461.414 0.000, 29506.6...",NEWTON,POINT (28529.657 32330.495)
41,kml_42,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((28223.652 32264.035 0.000, 28229.4...",ORCHARD,POINT (28029.142 31793.858)
42,kml_43,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((29092.275 30021.888 0.000, 29119.6...",OUTRAM,POINT (28972.958 29477.489)
43,kml_44,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((27695.960 31815.222 0.000, 27712.9...",RIVER VALLEY,POINT (28073.418 31156.833)
44,kml_45,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((30542.662 32377.352 0.000, 30618.8...",ROCHOR,POINT (30222.013 31830.568)
45,kml_46,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((28087.344 30540.999 0.000, 28087.5...",SINGAPORE RIVER,POINT (28878.215 30279.845)
46,kml_47,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((31774.113 28308.767 0.000, 34513.8...",STRAITS VIEW,POINT (31966.877 25542.016)
47,kml_48,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((51953.356 37756.739 0.000, 52431.6...",CHANGI BAY,POINT (53128.849 33253.568)
48,kml_49,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((36317.742 32458.455 0.000, 36335.3...",MARINE PARADE,POINT (36506.184 28593.913)
49,kml_50,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((35619.754 32450.586 0.000, 35588.2...",GEYLANG,POINT (34254.949 33683.505)
50,kml_51,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((37483.614 40361.733 0.000, 37520.1...",PAYA LEBAR,POINT (37065.552 37941.003)
51,kml_52,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((18153.520 15136.530 0.000, 17456.4...",WESTERN ISLANDS,POINT (15995.724 23202.676)
52,kml_53,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((13014.970 44497.659 0.000, 13013.4...",WESTERN WATER CATCHMENT,POINT (11723.453 40614.255)
53,kml_54,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((23492.128 49118.389 0.000, 23492.7...",WOODLANDS,POINT (22751.819 47120.584)
54,kml_55,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((30918.906 45252.694 0.000, 31188.4...",YISHUN,POINT (28422.806 44093.385)

In [67]:
#test = Pop_dens.PLN_AREA_N.append(pa.PLN_AREA_N)
test = pd.concat([Pop_dens.PLN_AREA_N,pa.PLN_AREA_N])
test.drop_duplicates(keep = False)

3     CENTRAL WATER CATCHMENT
11               LIM CHU KANG
13      NORTH-EASTERN ISLANDS
28                    SIMPANG
29           SOUTHERN ISLANDS
37                MARINA EAST
47                 CHANGI BAY
Name: PLN_AREA_N, dtype: object

In [68]:
a = test.drop_duplicates(keep = False)

In [69]:
a = a.to_frame()

In [70]:
a['POP_DENS'] = [0,0,0,0,0,0,0]

In [71]:
pop =  pd.read_csv(path + '/singapore_residents_by_pa2019.csv').drop(columns='Unnamed: 0')

In [72]:
pop.loc[pop['planning_area']=='SOUTHERN ISLANDS']

       planning_area  resident_count
43  SOUTHERN ISLANDS            1880

In [73]:
a

                 PLN_AREA_N  POP_DENS
3   CENTRAL WATER CATCHMENT         0
11             LIM CHU KANG         0
13    NORTH-EASTERN ISLANDS         0
28                  SIMPANG         0
29         SOUTHERN ISLANDS         0
37              MARINA EAST         0
47               CHANGI BAY         0

In [74]:
'''for items in test.drop_duplicates(keep = False):
    print(items,m.loc[m['planning_area']==items]['resident_count'].values[0]) 
'''
Pop_dens = pd.concat([Pop_dens,a],ignore_index=True)
#Pop_dens = Pop_dens.append(a,ignore_index=True)

Pop_dens

                 PLN_AREA_N      POP_DENS
0                ANG MO KIO  1.103508e+07
1                     BEDOK  2.057210e+07
2                    BISHAN  6.030975e+06
3                  BOON LAY  1.032779e+07
4               BUKIT BATOK  9.928237e+06
5               BUKIT MERAH  1.095066e+07
6             BUKIT PANJANG  6.631214e+06
7               BUKIT TIMAH  4.795816e+06
8                    CHANGI  1.815505e+06
9             CHOA CHU KANG  8.618132e+06
10                 CLEMENTI  9.963203e+06
11            DOWNTOWN CORE  1.117518e+07
12                  GEYLANG  1.528668e+07
13                  HOUGANG  1.717530e+07
14              JURONG EAST  1.690121e+07
15              JURONG WEST  1.804332e+07
16                  KALLANG  1.015094e+07
17                   MANDAI  7.036496e+04
18             MARINA SOUTH  1.325685e+06
19            MARINE PARADE  3.935884e+06
20                   MUSEUM  6.077784e+05
21                   NEWTON  1.620337e+06
22                   NOVENA  4.139836e+06
23                  ORCHARD  2.991267e+06
24                   OUTRAM  1.964294e+06
25                PASIR RIS  1.433411e+07
26               PAYA LEBAR  3.573326e+06
27                  PIONEER  1.315212e+07
28                  PUNGGOL  1.131053e+07
29               QUEENSTOWN  1.135299e+07
30             RIVER VALLEY  2.318422e+06
31                   ROCHOR  2.010964e+06
32                  SELETAR  1.435145e+06
33                SEMBAWANG  1.333170e+07
34                 SENGKANG  1.496790e+07
35                SERANGOON  7.821530e+06
36          SINGAPORE RIVER  1.351679e+06
37             STRAITS VIEW  1.200030e+06
38             SUNGEI KADUT  5.479153e+06
39                 TAMPINES  2.079842e+07
40                  TANGLIN  2.938273e+06
41                   TENGAH  5.644710e+06
42                TOA PAYOH  1.013134e+07
43                     TUAS  2.675359e+07
44          WESTERN ISLANDS  3.342372e+07
45  WESTERN WATER CATCHMENT  2.506920e+04
46                WOODLANDS  1.613645e+07
47                   YISHUN  1.217021e+07
48  CENTRAL WATER CATCHMENT  0.000000e+00
49             LIM CHU KANG  0.000000e+00
50    NORTH-EASTERN ISLANDS  0.000000e+00
51                  SIMPANG  0.000000e+00
52         SOUTHERN ISLANDS  0.000000e+00
53              MARINA EAST  0.000000e+00
54               CHANGI BAY  0.000000e+00

In [75]:
m_dict = Pop_dens.set_index(['PLN_AREA_N'])['POP_DENS'].to_dict()

In [76]:
m_dict

{'ANG MO KIO': 11035081.531070532,
 'BEDOK': 20572096.893863797,
 'BISHAN': 6030975.471070732,
 'BOON LAY': 10327790.693545554,
 'BUKIT BATOK': 9928237.371329447,
 'BUKIT MERAH': 10950656.308389246,
 'BUKIT PANJANG': 6631213.742468005,
 'BUKIT TIMAH': 4795816.126352119,
 'CHANGI': 1815505.3696279167,
 'CHOA CHU KANG': 8618132.207657529,
 'CLEMENTI': 9963202.720669108,
 'DOWNTOWN CORE': 11175177.084867876,
 'GEYLANG': 15286679.086623631,
 'HOUGANG': 17175296.27866663,
 'JURONG EAST': 16901213.050079636,
 'JURONG WEST': 18043318.362065237,
 'KALLANG': 10150936.414637037,
 'MANDAI': 70364.96308341097,
 'MARINA SOUTH': 1325684.538772803,
 'MARINE PARADE': 3935883.6930669355,
 'MUSEUM': 607778.4132682431,
 'NEWTON': 1620337.2874791897,
 'NOVENA': 4139836.437939888,
 'ORCHARD': 2991266.8217706094,
 'OUTRAM': 1964294.1854187667,
 'PASIR RIS': 14334109.8780828,
 'PAYA LEBAR': 3573325.8523238315,
 'PIONEER': 13152118.684646105,
 'PUNGGOL': 11310533.914425861,
 'QUEENSTOWN': 11352992.52615321,
 'RIVER VALLEY': 2318421.6061065756,
 'ROCHOR': 2010963.6746928047,
 'SELETAR': 1435145.1589649813,
 'SEMBAWANG': 13331698.400936665,
 'SENGKANG': 14967899.889395274,
 'SERANGOON': 7821529.657790958,
 'SINGAPORE RIVER': 1351678.74634685,
 'STRAITS VIEW': 1200030.4336237872,
 'SUNGEI KADUT': 5479152.802774898,
 'TAMPINES': 20798415.00058668,
 'TANGLIN': 2938273.215000879,
 'TENGAH': 5644710.038576098,
 'TOA PAYOH': 10131335.40737314,
 'TUAS': 26753593.020991948,
 'WESTERN ISLANDS': 33423715.58949667,
 'WESTERN WATER CATCHMENT': 25069.197185773755,
 'WOODLANDS': 16136450.09823656,
 'YISHUN': 12170207.265173793,
 'CENTRAL WATER CATCHMENT': 0.0,
 'LIM CHU KANG': 0.0,
 'NORTH-EASTERN ISLANDS': 0.0,
 'SIMPANG': 0.0,
 'SOUTHERN ISLANDS': 0.0,
 'MARINA EAST': 0.0,
 'CHANGI BAY': 0.0}

In [78]:
for PA in Prediction.columns[0:]:
    def prediction(pa1,pa2=PA):
        temp = R_ij.set_index(['PA_name'])[pa1].to_dict()
        r = temp.get(pa2)
        s_ij = 0
        centroid = GPR['centroid'].to_dict()
        POP_DENS = GPR['POP_DENS'].to_dict()
        for zone in range(0,33117): 
            if centroid.get(zone).distance(pa_dict.get(PA))<= r:
                s_ij = s_ij + POP_DENS.get(zone)
        s_ij = s_ij - m_dict.get(pa1)
        
        def get_Ti_bus(pa):
            if T_i_bus_dict.get(pa1) is None:
                return float(0)
            else:
                return T_i_bus_dict.get(pa1)
        def get_Ti_MRT(pa):
            if T_i_MRT_dict.get(pa1) is None:
                return float(0)
            else:
                return T_i_MRT_dict.get(pa1)
        T_i = get_Ti_bus(pa1) + get_Ti_MRT(pa1)
        if ((m_dict.get(pa1)+s_ij)*(m_dict.get(pa1)+s_ij+m_dict.get(pa2)))== 0:
            pre = None
        else:
            pre = T_i*m_dict.get(pa1)*m_dict.get(pa2)/((m_dict.get(pa1)+s_ij)*(m_dict.get(pa1)+s_ij+m_dict.get(pa2)))
        return pre 
    Prediction[PA]=pa['PLN_AREA_N'].apply(prediction)    

Prediction

KeyboardInterrupt:

In [ ]:
new = np.empty([55,55])

def bus_flux(x,y):
    pa1 = Prediction.columns[x]
    pa2 = Prediction.columns[y]
    
    if T_ij_bus[(T_ij_bus['ORIGIN_loc']==pa1)&(T_ij_bus['DESTINATION_loc']==pa2)].size==0:
        return int(0)
    else:
        flux = T_ij_bus[(T_ij_bus['ORIGIN_loc']==pa1)&(T_ij_bus['DESTINATION_loc']==pa2)]['TOTAL_TRIPS'].values[0]
        return flux

for i in range(0,55):
    for j in range(0,55):
        new[i][j]=bus_flux(i,j)
        new[i][i]=0

bus_flux_array = new

new = np.empty([55,55])
def MRT_flux(x,y):
    pa1 = Prediction.columns[x]
    pa2 = Prediction.columns[y]
    
    if T_ij_MRT[(T_ij_MRT['ORIGIN_loc']==pa1)&(T_ij_MRT['DESTINATION_loc']==pa2)].size==0:
        return int(0)
    else:
        flux = T_ij_MRT[(T_ij_MRT['ORIGIN_loc']==pa1)&(T_ij_MRT['DESTINATION_loc']==pa2)]['TOTAL_TRIPS'].values[0]
        return flux
for i in range(0,55):
    for j in range(0,55):
        new[i][j]=MRT_flux(i,j)
MRT_flux_array = new

flux_array=(bus_flux_array+MRT_flux_array)

flux = pd.DataFrame(flux_array)

In [ ]:
flux_array

In [ ]:
for i in range(0,55):
    for j in range(0,55):
        if pd.isna(Prediction.iloc[i][j]) and i!=j:
            print('null',Prediction.columns[i],Prediction.columns[j])
            print(Pop_dens.loc[Pop_dens['PLN_AREA_N']==Prediction.columns[i]].to_numpy()[0]\
                  ,Pop_dens.loc[Pop_dens['PLN_AREA_N']==Prediction.columns[j]].to_numpy()[0])
        if np.isinf(Prediction.iloc[i][j]) and i!=j:
            print('inf',Prediction.columns[i],Prediction.columns[j])
            print(Pop_dens.loc[Pop_dens['PLN_AREA_N']==Prediction.columns[i]].to_numpy()[0]\
                  ,Pop_dens.loc[Pop_dens['PLN_AREA_N']==Prediction.columns[j]].to_numpy()[0])

By searching about the imformatin about these planning areas, we can find that:<br> 
>-For **CHANGI**, **CHANGI BAY**, **MARINA EAST**, **MARINA SOUTH**, **STRAITS VIEW**, there are simply no one living there.<br>
>-As for **MARINE PARADE**, the population isn't zero. But as no one lives in **MARINA EAST**, there's no flux from **MARINA EAST** to **MARINE PARADE**.

In [ ]:
for i in range(0,55):
    for j in range(0,55):
        if pd.isna(Prediction.iloc[i][j]) and i!=j:
            Prediction.iat[i,j] = 0
            print(Prediction.iloc[i][j])

So I set them all to 0.

In [ ]:
from sklearn.metrics import r2_score

In [ ]:
Pre_dict = Prediction.to_numpy()

In [ ]:
Pre_dict

In [ ]:
np.diagonal(flux_array)

set the diagonal to the true value

In [ ]:
np.fill_diagonal(Pre_dict, flux_array.copy() , wrap=False)

Check if there are still null values

In [ ]:
if np.any(pd.isna(Pre_dict)) == True: 
    print('null')

calculate the r<sup>2</sup>  value

In [103]:
r2_score(flux_array, Pre_dict)

-109.49796877050571