# Bus and train flux 2019

In [1]:
import pandas as pd
import numpy as np
import fiona
import geopandas as gpd 
from shapely.geometry import Polygon, LineString, Point

In [2]:
path = '/Users/paw_paw/Library/CloudStorage/GoogleDrive-keyuqing597@gmail.com/我的云端硬盘/PC5287_M.SC Coursework Thesis for Physics And Technology/data set'

## Planning Area geometry

In [3]:
fiona.supported_drivers['KML'] = 'rw'

In [4]:
pa_plg = pa = gpd.read_file(path+'/master-plan-2019-planning-area-boundary-no-sea/planning-boundary-area.kml', driver='KML')
pa_plg = pa_plg.to_crs(3414)

def extract_desc_pa(desc_pa):
    return desc_pa.split('PLN_AREA_N')[1].split('<td>')[1].split('<')[0]

pa_plg['PLN_AREA_N'] = pa_plg.Description.apply(extract_desc_pa)
pa_plg.head()

,Name,Description,geometry,PLN_AREA_N
0,kml_1,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((26228.902 30746.172 0.000, 26280.4...",BUKIT MERAH
1,kml_2,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((21448.724 41356.741 0.000, 21508.5...",BUKIT PANJANG
2,kml_3,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((24031.387 36694.742 0.000, 24076.6...",BUKIT TIMAH
3,kml_4,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((24934.967 44017.724 0.000, 24953.6...",CENTRAL WATER CATCHMENT
4,kml_5,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((45094.369 42203.459 0.000, 45174.6...",CHANGI

Define the function to get Planning area name for each stops/MRT stations, which will be used later

In [5]:
pa_plg_geo = pa_plg.set_index(['PLN_AREA_N'])['geometry'].to_dict()

def get_PLA_AREA_N(coordinate):
    for key in pa_plg_geo:
        if coordinate.within(pa_plg_geo.get(key)):
            return key

## Bus flux

In [6]:
# read the bus transpotation volume file 
bus_vol = pd.read_csv(path + '/BusODvolume.2019.01.csv')
bus_vol

,YEAR_MONTH,DAY_TYPE,TIME_PER_HOUR,PT_TYPE,ORIGIN_PT_CODE,DESTINATION_PT_CODE,TOTAL_TRIPS
0,2019-01,WEEKDAY,6,BUS,95209,93019,34
1,2019-01,WEEKENDS/HOLIDAY,15,BUS,10149,50051,1
2,2019-01,WEEKDAY,15,BUS,10149,50051,2
3,2019-01,WEEKDAY,23,BUS,64319,63139,1
4,2019-01,WEEKDAY,8,BUS,85049,92149,1
...,...,...,...,...,...,...,...
4885547,2019-01,WEEKENDS/HOLIDAY,9,BUS,55209,53389,19
4885548,2019-01,WEEKDAY,9,BUS,55209,53389,26
4885549,2019-01,WEEKENDS/HOLIDAY,18,BUS,44221,57051,2
4885550,2019-01,WEEKDAY,18,BUS,44221,57051,3
4885551,2019-01,WEEKDAY,19,BUS,67081,68051,2

In [7]:
# read the bus stops' location data 
bus_loc = pd.read_csv(path + '/Bus_stops_2019.02.01.csv')

# transform the dataframe into GeoDataFrame format, 
# and then transform the cordinate into SVY21 
bus_loc = gpd.GeoDataFrame(bus_loc, geometry=gpd.points_from_xy(bus_loc.Longitude,bus_loc.Latitude))
bus_loc = bus_loc.drop(columns=['Latitude', 'Longitude'])
bus_loc = bus_loc.set_crs(epsg=4326)
bus_loc = bus_loc.to_crs(3414)
bus_loc.head()

,RequestTimestamp,BusStopCode,RoadName,Description,geometry
0,2019.02.01.03.00.00,43759,Bt Batok Rd,Blk 443D,POINT (17269.854 37561.743)
1,2019.02.01.03.00.00,43761,Bt Batok Rd,Opp Dulwich Coll,POINT (17354.077 36989.704)
2,2019.02.01.03.00.00,43769,Bt Batok Rd,Dulwich Coll/Blk 445,POINT (17371.596 37069.306)
3,2019.02.01.03.00.00,43771,Bt Batok Rd,Bef Bt Batok West Ave 2,POINT (17766.452 38229.766)
4,2019.02.01.03.00.00,43779,Bt Batok Rd,Aft Bt Batok West Ave 2,POINT (17811.742 38223.842)

In [8]:
bus_loc['PLN_AREA_N'] = bus_loc.geometry.apply(get_PLA_AREA_N)
bus_loc

,RequestTimestamp,BusStopCode,RoadName,Description,geometry,PLN_AREA_N
0,2019.02.01.03.00.00,43759,Bt Batok Rd,Blk 443D,POINT (17269.854 37561.743),BUKIT BATOK
1,2019.02.01.03.00.00,43761,Bt Batok Rd,Opp Dulwich Coll,POINT (17354.077 36989.704),TENGAH
2,2019.02.01.03.00.00,43769,Bt Batok Rd,Dulwich Coll/Blk 445,POINT (17371.596 37069.306),BUKIT BATOK
3,2019.02.01.03.00.00,43771,Bt Batok Rd,Bef Bt Batok West Ave 2,POINT (17766.452 38229.766),TENGAH
4,2019.02.01.03.00.00,43779,Bt Batok Rd,Aft Bt Batok West Ave 2,POINT (17811.742 38223.842),BUKIT BATOK
...,...,...,...,...,...,...
5007,2019.02.01.03.00.00,28049,Boon Lay Way,Opp The Synergy,POINT (18516.429 34767.639),JURONG EAST
5008,2019.02.01.03.00.00,28051,Boon Lay Way,Big Box,POINT (18253.414 34943.549),JURONG EAST
5009,2019.02.01.03.00.00,28059,Boon Lay Way,Ng Teng Fong General Hosp,POINT (18260.894 34978.534),JURONG EAST
5010,2019.02.01.03.00.00,28061,Boon Lay Way,Jurong East Stn/Int,POINT (17898.205 35349.804),JURONG EAST
5011,2019.02.01.03.00.00,28069,Boon Lay Way,Blk 203,POINT (17899.235 35402.714),JURONG EAST

In [9]:
# transforn the postcode colume into the same datatype
bus_vol.ORIGIN_PT_CODE = bus_vol.ORIGIN_PT_CODE.astype('int64')
bus_vol.DESTINATION_PT_CODE = bus_vol.DESTINATION_PT_CODE.astype('int64')

In [10]:
# check the datatype
bus_vol.dtypes

YEAR_MONTH             object
DAY_TYPE               object
TIME_PER_HOUR           int64
PT_TYPE                object
ORIGIN_PT_CODE          int64
DESTINATION_PT_CODE     int64
TOTAL_TRIPS             int64
dtype: object

In [11]:
bus_loc.dtypes

RequestTimestamp      object
BusStopCode            int64
RoadName              object
Description           object
geometry            geometry
PLN_AREA_N            object
dtype: object

In [12]:
bus_loc.head()

,RequestTimestamp,BusStopCode,RoadName,Description,geometry,PLN_AREA_N
0,2019.02.01.03.00.00,43759,Bt Batok Rd,Blk 443D,POINT (17269.854 37561.743),BUKIT BATOK
1,2019.02.01.03.00.00,43761,Bt Batok Rd,Opp Dulwich Coll,POINT (17354.077 36989.704),TENGAH
2,2019.02.01.03.00.00,43769,Bt Batok Rd,Dulwich Coll/Blk 445,POINT (17371.596 37069.306),BUKIT BATOK
3,2019.02.01.03.00.00,43771,Bt Batok Rd,Bef Bt Batok West Ave 2,POINT (17766.452 38229.766),TENGAH
4,2019.02.01.03.00.00,43779,Bt Batok Rd,Aft Bt Batok West Ave 2,POINT (17811.742 38223.842),BUKIT BATOK

In [13]:
bus_vol1 = bus_loc.set_index(['BusStopCode'])['PLN_AREA_N'].to_dict()
bus_vol1

def bus_stop_loc(PT_CODE):
    return bus_vol1.get(PT_CODE)

bus_vol['ORIGIN_loc'] = bus_vol.ORIGIN_PT_CODE.apply(bus_stop_loc)

bus_vol['DESTINATION_loc'] = bus_vol.DESTINATION_PT_CODE.apply(bus_stop_loc)
bus_vol.head()

,YEAR_MONTH,DAY_TYPE,TIME_PER_HOUR,PT_TYPE,ORIGIN_PT_CODE,DESTINATION_PT_CODE,TOTAL_TRIPS,ORIGIN_loc,DESTINATION_loc
0,2019-01,WEEKDAY,6,BUS,95209,93019,34,CHANGI,BEDOK
1,2019-01,WEEKENDS/HOLIDAY,15,BUS,10149,50051,1,BUKIT MERAH,NOVENA
2,2019-01,WEEKDAY,15,BUS,10149,50051,2,BUKIT MERAH,NOVENA
3,2019-01,WEEKDAY,23,BUS,64319,63139,1,HOUGANG,HOUGANG
4,2019-01,WEEKDAY,8,BUS,85049,92149,1,BEDOK,BEDOK

Now, all the bus volume data have been linked with its origin and desitination, then its time to deal with the train data.

## Train flux

In [14]:
# read the MRT transpotation volume data 
train_vol = pd.read_csv(path + '/TrainODvolume.2019.01.csv')
train_vol.head()

,YEAR_MONTH,DAY_TYPE,TIME_PER_HOUR,PT_TYPE,ORIGIN_PT_CODE,DESTINATION_PT_CODE,TOTAL_TRIPS
0,2019-01,WEEKDAY,9,TRAIN,DT24,EW32,1
1,2019-01,WEEKDAY,9,TRAIN,EW32,DT24,1
2,2019-01,WEEKENDS/HOLIDAY,9,TRAIN,EW32,DT24,2
3,2019-01,WEEKDAY,6,TRAIN,BP4,EW31,2
4,2019-01,WEEKDAY,7,TRAIN,DT26,CC26,9

In [15]:
train_loc = gpd.read_file(path + '/mrtsg.csv')
train_loc['geometry']=gpd.points_from_xy(train_loc['X'],train_loc['Y'])
train_loc['PLN_AREA_N'] = train_loc.geometry.apply(get_PLA_AREA_N)

In [16]:
train_loc

,OBJECTID,STN_NAME,STN_NO,X,Y,Latitude,Longitude,COLOR,geometry,PLN_AREA_N
0,12,ADMIRALTY MRT STATION,NS10,24402.1063,46918.1131,1.440585001,103.8009982,RED,POINT (24402.106 46918.113),WOODLANDS
1,16,ALJUNIED MRT STATION,EW9,33518.6049,33190.0020,1.316432612,103.882893,GREEN,POINT (33518.605 33190.002),GEYLANG
2,33,ANG MO KIO MRT STATION,NS16,29807.2655,39105.7720,1.369933175,103.8495535,RED,POINT (29807.266 39105.772),ANG MO KIO
3,81,BAKAU LRT STATION,SE3,36026.0821,41113.8766,1.388092704,103.9054179,OTHERS,POINT (36026.082 41113.877),SENGKANG
4,80,BANGKIT LRT STATION,BP9,21248.2460,40220.9693,1.380017897,103.7726667,OTHERS,POINT (21248.246 40220.969),BUKIT PANJANG
...,...,...,...,...,...,...,...,...,...,...
184,175,WOODLANDS SOUTH MRT STATION,TE3,23607.8309,45444.7113,1.427259979,103.7938631,OTHERS,POINT (23607.831 45444.711),WOODLANDS
185,146,WOODLEIGH MRT STATION,NE11,32173.3186,35706.3794,1.339190046,103.8708081,PURPLE,POINT (32173.319 35706.379),TOA PAYOH
186,6,YEW TEE MRT STATION,NS5,18438.9791,42158.0124,1.397535018,103.7474307,RED,POINT (18438.979 42158.012),CHOA CHU KANG
187,41,YIO CHU KANG MRT STATION,NS15,29294.1283,40413.0820,1.381756046,103.8449439,RED,POINT (29294.128 40413.082),ANG MO KIO
188,13,YISHUN MRT STATION,NS13,28187.6787,45686.0701,1.429443081,103.8350045,RED,POINT (28187.679 45686.070),YISHUN

Find what station names are 'nicknames':

In [17]:
def newname():
    a = pd.concat([train_loc['STN_NO'],train_vol['ORIGIN_PT_CODE'],train_vol['ORIGIN_PT_CODE']])
    result = pd.DataFrame()
    result['STN_NO'] = a.drop_duplicates(keep=False)
    result=result.reset_index(drop=True)
    #result only contains the stations that's full No. is in loc.file but the vol.file
    
    def split(string):
        string = str(string)
        try:
            string.split('/')[1]
        except IndexError: 
            return [string],[None],[None]
        else:
            try:
                string.split('/')[2]
            except IndexError: 
                return string.split('/')[0].split(), string.split('/')[1].split() ,[None]
            else:        
                return string.split('/')[0].split(), string.split('/')[1].split(), string.split('/')[2].split()
    #This function is used to seperate the 'nicknames' of a station
    
    result['namelist']=result['STN_NO'].apply(split)
    
    def get_name1(namelist):
        return namelist[0][0]
    def get_name2(namelist):
        return namelist[1][0]
    def get_name3(namelist):
        return namelist[2][0]

    result['name1']=result['namelist'].apply(get_name1)
    result['name2']=result['namelist'].apply(get_name2)
    result['name3']=result['namelist'].apply(get_name3)

    result = result.drop(columns=['namelist'])
    
    list1=result.set_index(['name1'])['STN_NO'].to_dict() 
    list2=result.set_index(['name2'])['STN_NO'].to_dict() 
    list3=result.set_index(['name3'])['STN_NO'].to_dict()
    
    def get_name(name): 
        if name in list1.keys():
            get_name =list1.get(name)
        elif oldname in list2.keys():
            get_name =list2.get(name)
        elif oldname in list3.keys():
            get_name =list3.get(name)
        else: get_name=oldname 
        return get_name
      
    return list1,list2,list3

Use a easier function

In [18]:
list1,list2,list3 = newname()

def get_name(oldname): 
    if oldname in list1.keys():
        get_name=list1.get(oldname)
    elif oldname in list2.keys():
        get_name =list2.get(oldname)
    elif oldname in list3.keys():
        get_name =list3.get(oldname)
    else: get_name=oldname 
    return get_name

test it

In [19]:
train_vol['ORIGIN_PT_CODE']=train_vol['ORIGIN_PT_CODE'].apply(get_name)

In [20]:
train_vol['DESTINATION_PT_CODE'] = train_vol['DESTINATION_PT_CODE'].apply(get_name)

In [21]:
train_vol.head()

,YEAR_MONTH,DAY_TYPE,TIME_PER_HOUR,PT_TYPE,ORIGIN_PT_CODE,DESTINATION_PT_CODE,TOTAL_TRIPS
0,2019-01,WEEKDAY,9,TRAIN,DT24,EW32,1
1,2019-01,WEEKDAY,9,TRAIN,EW32,DT24,1
2,2019-01,WEEKENDS/HOLIDAY,9,TRAIN,EW32,DT24,2
3,2019-01,WEEKDAY,6,TRAIN,BP4,EW31,2
4,2019-01,WEEKDAY,7,TRAIN,DT26,CC26,9

We can see all the short names are replaced by the full names.

In [22]:
train_loc.head()

,OBJECTID,STN_NAME,STN_NO,X,Y,Latitude,Longitude,COLOR,geometry,PLN_AREA_N
0,12,ADMIRALTY MRT STATION,NS10,24402.1063,46918.1131,1.440585001,103.8009982,RED,POINT (24402.106 46918.113),WOODLANDS
1,16,ALJUNIED MRT STATION,EW9,33518.6049,33190.0020,1.316432612,103.882893,GREEN,POINT (33518.605 33190.002),GEYLANG
2,33,ANG MO KIO MRT STATION,NS16,29807.2655,39105.7720,1.369933175,103.8495535,RED,POINT (29807.266 39105.772),ANG MO KIO
3,81,BAKAU LRT STATION,SE3,36026.0821,41113.8766,1.388092704,103.9054179,OTHERS,POINT (36026.082 41113.877),SENGKANG
4,80,BANGKIT LRT STATION,BP9,21248.2460,40220.9693,1.380017897,103.7726667,OTHERS,POINT (21248.246 40220.969),BUKIT PANJANG

In [23]:
train_loc_dict = train_loc.set_index(['STN_NO'])['PLN_AREA_N'].to_dict()

def find_train_loc(PT_CODE):
    return train_loc_dict.get(PT_CODE)

train_vol['ORIGIN_loc'] = train_vol['ORIGIN_PT_CODE'].apply(find_train_loc)
train_vol['DESTINATION_loc'] = train_vol['DESTINATION_PT_CODE'].apply(find_train_loc)

In [24]:
train_vol

,YEAR_MONTH,DAY_TYPE,TIME_PER_HOUR,PT_TYPE,ORIGIN_PT_CODE,DESTINATION_PT_CODE,TOTAL_TRIPS,ORIGIN_loc,DESTINATION_loc
0,2019-01,WEEKDAY,9,TRAIN,DT24,EW32,1,KALLANG,TUAS
1,2019-01,WEEKDAY,9,TRAIN,EW32,DT24,1,TUAS,KALLANG
2,2019-01,WEEKENDS/HOLIDAY,9,TRAIN,EW32,DT24,2,TUAS,KALLANG
3,2019-01,WEEKDAY,6,TRAIN,BP4,EW31,2,CHOA CHU KANG,TUAS
4,2019-01,WEEKDAY,7,TRAIN,DT26,CC26,9,GEYLANG,QUEENSTOWN
...,...,...,...,...,...,...,...,...,...
801139,2019-01,WEEKENDS/HOLIDAY,5,TRAIN,BP2,BP7,14,CHOA CHU KANG,BUKIT PANJANG
801140,2019-01,WEEKDAY,21,TRAIN,CC29,NE13,898,BUKIT MERAH,HOUGANG
801141,2019-01,WEEKDAY,21,TRAIN,NE13,CC29,105,HOUGANG,BUKIT MERAH
801142,2019-01,WEEKENDS/HOLIDAY,21,TRAIN,CC29,NE13,455,BUKIT MERAH,HOUGANG
801143,2019-01,WEEKENDS/HOLIDAY,21,TRAIN,NE13,CC29,47,HOUGANG,BUKIT MERAH

## Sum up the flux

flux_bus_WEEKDAY = bus_vol.loc[bus_vol['DAY_TYPE']=='WEEKDAY']

flux_bus_total_WEEKDAY = flux_bus_WEEKDAY.groupby(by='ORIGIN_loc')\
.sum(numeric_only=True)['TOTAL_TRIPS'].reset_index()

flux_bus_total_WEEKDAY.to_csv(path+'/flux_2019/flux_bus_total_WEEKDAY.csv',index=False)

flux_bus_ij_WEEKDAY = flux_bus_WEEKDAY.groupby(by = ['ORIGIN_loc','DESTINATION_loc']).\
sum(numeric_only=True)['TOTAL_TRIPS'].reset_index()

flux_bus_ij_WEEKDAY.to_csv(path+'/flux_2019/flux_bus_ij_WEEKDAY.csv',index=False)

flux_bus_WEEKENDS = bus_vol.loc[bus_vol['DAY_TYPE']=='WEEKENDS/HOLIDAY']

flux_bus_total_WEEKENDS = flux_bus_WEEKDAY.groupby(by='ORIGIN_loc')\
.sum(numeric_only=True)['TOTAL_TRIPS'].reset_index()

flux_bus_total_WEEKENDS.to_csv(path+'/flux_2019/flux_bus_total_WEEKENDS.csv',index=False)

flux_bus_ij_WEEKENDS = flux_bus_WEEKDAY.groupby(by=['ORIGIN_loc','DESTINATION_loc'])\
.sum(numeric_only=True)['TOTAL_TRIPS'].reset_index()

flux_bus_ij_WEEKENDS.to_csv(path+'/flux_2019/flux_bus_ij_WEEKENDS.csv',index=False)

flux_MRT_WEEKDAY = train_vol.loc[train_vol['DAY_TYPE']=='WEEKDAY']

flux_MRT_total_WEEKDAY = flux_MRT_WEEKDAY.groupby(by='ORIGIN_loc')\
.sum(numeric_only=True)['TOTAL_TRIPS'].reset_index()

flux_MRT_total_WEEKDAY.to_csv(path+'/flux_2019/flux_MRT_total_WEEKDAY.csv',index=False)

flux_MRT_ij_WEEKDAY = flux_MRT_WEEKDAY.groupby(by=['ORIGIN_loc','DESTINATION_loc'])\
.sum(numeric_only=True)['TOTAL_TRIPS'].reset_index()

flux_MRT_ij_WEEKDAY.to_csv(path+'/flux_2019/flux_MRT_ij_WEEKDAY.csv',index=False)

flux_MRT_WEEKENDS = train_vol.loc[train_vol['DAY_TYPE']=='WEEKENDS/HOLIDAY']

flux_MRT_total_WEEKENDS = flux_MRT_WEEKENDS.groupby(by='ORIGIN_loc')\
.sum(numeric_only=True)['TOTAL_TRIPS'].reset_index()

flux_MRT_total_WEEKENDS.to_csv(path+'/flux_2019/flux_MRT_total_WEEKENDS.csv',index=False)

flux_MRT_ij_WEEKENDS = flux_MRT_WEEKENDS.groupby(by=['ORIGIN_loc','DESTINATION_loc'])\
.sum(numeric_only=True)['TOTAL_TRIPS'].reset_index()

flux_MRT_ij_WEEKENDS.to_csv(path+'/flux_2019/flux_MRT_ij_WEEKENDS.csv',index=False)

In [25]:
flux_bus_total = pd.DataFrame()

flux_bus_total = bus_vol.groupby('ORIGIN_loc').sum(numeric_only=True)['TOTAL_TRIPS'].reset_index()
flux_bus_total.to_csv(path+'/Total_bus_flux2019.csv')

In [29]:
flux_bus_total

                 ORIGIN_loc  TOTAL_TRIPS
0                ANG MO KIO      5753076
1                     BEDOK      8076632
2                    BISHAN      2680822
3                  BOON LAY       186710
4               BUKIT BATOK      3588419
5               BUKIT MERAH      4666840
6             BUKIT PANJANG      2520233
7               BUKIT TIMAH      2222822
8   CENTRAL WATER CATCHMENT       168233
9                    CHANGI      1164105
10            CHOA CHU KANG      3591399
11                 CLEMENTI      3606280
12            DOWNTOWN CORE        62224
13                  GEYLANG      4672666
14                  HOUGANG      6003248
15              JURONG EAST      3698546
16              JURONG WEST      7686831
17                  KALLANG      1832329
18             LIM CHU KANG        27641
19                   MANDAI       164889
20            MARINE PARADE      1208100
21                   MUSEUM         2794
22                   NEWTON       246411
23                   NOVENA      1693240
24                PASIR RIS      3402025
25               PAYA LEBAR       234237
26                  PIONEER       665247
27                  PUNGGOL      2078449
28               QUEENSTOWN      3761018
29             RIVER VALLEY        98341
30                   ROCHOR       225971
31                  SELETAR       185402
32                SEMBAWANG      2265233
33                 SENGKANG      3903129
34                SERANGOON      3388458
35          SINGAPORE RIVER        60473
36         SOUTHERN ISLANDS        14408
37             SUNGEI KADUT       774363
38                 TAMPINES      7298303
39                  TANGLIN       512002
40                   TENGAH        26034
41                TOA PAYOH      4136088
42                     TUAS       444005
43  WESTERN WATER CATCHMENT       473033
44                WOODLANDS      7905633
45                   YISHUN      6285186

In [34]:
flux_bus_ij = pd.DataFrame()

flux_bus_ij = bus_vol.groupby(['ORIGIN_loc','DESTINATION_loc']).sum(numeric_only=True)['TOTAL_TRIPS'].reset_index()

In [35]:
# fill the missing bus flux data with 0
temp = pd.concat([flux_bus_total['ORIGIN_loc'],pa.PLN_AREA_N]).drop_duplicates(keep = False).\
    reset_index().drop(columns='index')

temp=temp.rename(columns={0:'ORIGIN_loc'})

temp['TOTAL_TRIPS'] = pd.DataFrame(np.zeros(temp.shape[0]))

flux_bus_total=pd.concat([flux_bus_total,temp]).reset_index().drop(columns='index')

flux_bus_total

                 ORIGIN_loc  TOTAL_TRIPS
0                ANG MO KIO    5753076.0
1                     BEDOK    8076632.0
2                    BISHAN    2680822.0
3                  BOON LAY     186710.0
4               BUKIT BATOK    3588419.0
5               BUKIT MERAH    4666840.0
6             BUKIT PANJANG    2520233.0
7               BUKIT TIMAH    2222822.0
8   CENTRAL WATER CATCHMENT     168233.0
9                    CHANGI    1164105.0
10            CHOA CHU KANG    3591399.0
11                 CLEMENTI    3606280.0
12            DOWNTOWN CORE      62224.0
13                  GEYLANG    4672666.0
14                  HOUGANG    6003248.0
15              JURONG EAST    3698546.0
16              JURONG WEST    7686831.0
17                  KALLANG    1832329.0
18             LIM CHU KANG      27641.0
19                   MANDAI     164889.0
20            MARINE PARADE    1208100.0
21                   MUSEUM       2794.0
22                   NEWTON     246411.0
23                   NOVENA    1693240.0
24                PASIR RIS    3402025.0
25               PAYA LEBAR     234237.0
26                  PIONEER     665247.0
27                  PUNGGOL    2078449.0
28               QUEENSTOWN    3761018.0
29             RIVER VALLEY      98341.0
30                   ROCHOR     225971.0
31                  SELETAR     185402.0
32                SEMBAWANG    2265233.0
33                 SENGKANG    3903129.0
34                SERANGOON    3388458.0
35          SINGAPORE RIVER      60473.0
36         SOUTHERN ISLANDS      14408.0
37             SUNGEI KADUT     774363.0
38                 TAMPINES    7298303.0
39                  TANGLIN     512002.0
40                   TENGAH      26034.0
41                TOA PAYOH    4136088.0
42                     TUAS     444005.0
43  WESTERN WATER CATCHMENT     473033.0
44                WOODLANDS    7905633.0
45                   YISHUN    6285186.0
46    NORTH-EASTERN ISLANDS          0.0
47                  SIMPANG          0.0
48              MARINA EAST          0.0
49             MARINA SOUTH          0.0
50                  ORCHARD          0.0
51                   OUTRAM          0.0
52             STRAITS VIEW          0.0
53               CHANGI BAY          0.0
54          WESTERN ISLANDS          0.0

In [26]:
flux_bus_ij.to_csv(path+'/Total_bus_flux_ij2019.csv')

In [27]:
flux_MRT_total = pd.DataFrame()

flux_MRT_total = train_vol.groupby('ORIGIN_loc').sum(numeric_only=True)['TOTAL_TRIPS'].reset_index()
flux_MRT_total.to_csv(path+'/Total_MRT_flux2019.csv')

In [28]:
flux_MRT_ij = pd.DataFrame()

flux_MRT_ij = train_vol.groupby(['ORIGIN_loc','DESTINATION_loc']).sum(numeric_only=True)['TOTAL_TRIPS'].reset_index()

flux_MRT_ij.to_csv(path+'/Total_MRT_flux_ij2019.csv')

In [49]:
T_ij = pd.read_csv(path +'/distance_pa_to_pa.csv').drop(columns='Unnamed: 0')

T_ij.mask(T_ij!=False,inplace=True)

,BUKIT MERAH,BUKIT PANJANG,BUKIT TIMAH,CENTRAL WATER CATCHMENT,CHANGI,CHOA CHU KANG,CLEMENTI,HOUGANG,JURONG EAST,JURONG WEST,...,SINGAPORE RIVER,STRAITS VIEW,CHANGI BAY,MARINE PARADE,GEYLANG,PAYA LEBAR,WESTERN ISLANDS,WESTERN WATER CATCHMENT,WOODLANDS,YISHUN
PA_name,,,,,,,,,,,,,,,,,,,,,
BUKIT MERAH,0.000000,11801.153055,7285.555760,11727.605889,21219.086601,15069.878839,8552.513484,12441.932351,10913.639880,15228.336785,...,2728.259723,5800.375314,26663.970694,9595.800021,9052.865975,13940.794275,12085.688405,19498.609475,19189.279821,15778.005629
BUKIT PANJANG,11801.153055,0.000000,4523.459054,3321.018256,25588.235593,3541.153151,5612.306333,13003.483794,7161.660539,8074.721069,...,11382.891056,16994.785211,32314.728877,18303.253061,13926.812556,15799.844748,16434.287300,9741.338977,8486.111357,8907.549437
BUKIT TIMAH,7285.555760,4523.459054,0.000000,5289.399414,23503.226876,7822.238515,3604.512914,11639.256997,6455.612039,9634.319694,...,7144.707832,12631.143946,29906.421553,14584.338004,11043.957271,14186.186644,13589.709392,12966.105831,12440.999877,10729.064832
CENTRAL WATER CATCHMENT,11727.605889,3321.018256,5289.399414,0.000000,22631.074216,6090.310227,7931.975597,9964.978992,10078.689893,11395.311798,...,10554.169342,16172.672171,29451.542056,16511.149567,11603.113070,12783.470977,18658.600711,12724.814637,7462.027830,5830.855805
CHANGI,21219.086601,25588.235593,23503.226876,22631.074216,0.000000,28721.187147,26933.095315,12672.382869,29848.896622,33015.701761,...,18736.425191,18079.710186,6963.328168,12612.107756,12680.341719,9854.516628,33281.851530,35305.476672,26431.880659,20016.590581
CHOA CHU KANG,15069.878839,3541.153151,7822.238515,6090.310227,28721.187147,0.000000,7665.759339,16054.709594,7949.201684,6764.542902,...,14861.216911,20432.304444,35531.702258,21842.495828,17378.827264,18873.452155,17795.965181,6695.187847,7637.796731,10525.326271
CLEMENTI,8552.513484,5612.306333,3604.512914,7931.975597,26933.095315,7665.759339,0.000000,15237.912494,2915.876061,6759.275772,...,9455.620533,14335.079601,33205.065530,17242.020949,14335.773634,17754.262382,10850.901590,10976.676667,14089.693860,13724.053165
HOUGANG,12441.932351,13003.483794,11639.256997,9964.978992,12672.382869,16054.709594,15237.912494,0.000000,18087.006227,20720.697846,...,9764.025224,13074.963742,19535.809090,10063.800977,4726.302388,2819.030407,23786.112430,22669.752026,14453.758890,8165.684903
JURONG EAST,10913.639880,7161.660539,6455.612039,10078.689893,29848.896622,7949.201684,2915.876061,18087.006227,0.000000,4450.050813,...,12163.252093,16703.135832,36105.108163,19975.136500,17243.648729,20639.451542,9857.936895,9272.310087,15231.572635,15900.703937
JURONG WEST,15228.336785,8074.721069,9634.319694,11395.311798,33015.701761,6764.542902,6759.275772,20720.697846,4450.050813,0.000000,...,16203.240234,21028.552713,39513.990047,23962.488549,20673.631073,23439.532405,12975.010724,5046.591189,14353.166329,16805.419367
KALLANG,6376.943292,12095.953025,8694.879936,10265.806859,15402.923400,15625.849551,11795.506604,6357.291414,14678.657590,18302.244081,...,3653.327955,7066.181367,21441.029769,6260.586479,2776.133930,7570.171210,18300.794763,21520.902149,17052.474000,11947.897394
LIM CHU KANG,21368.867355,9647.308115,14096.652722,11192.497399,33085.080125,6314.043764,13804.369329,20573.209355,13427.921010,10469.271264,...,21020.829477,26641.821737,40027.323401,27644.511962,22786.469042,23328.116107,23130.807998,6733.960462,7499.098385,13315.512471
MANDAI,16819.239560,7085.032136,10435.112304,5195.832727,23937.550422,7453.117219,12610.396765,11767.374062,14203.178144,14145.935696,...,15379.649855,20857.746694,30900.239405,20325.571782,14930.046895,14376.173432,23461.173138,13584.433728,2758.437838,3972.028466
NORTH-EASTERN ISLANDS,26788.829738,28647.205314,27560.034364,25403.188361,7145.149829,31319.650611,31147.411500,15935.680968,34014.254805,36566.956434,...,24128.527187,24520.914942,9852.586946,19153.478214,17769.991798,13418.940621,38823.388210,38013.726664,27334.806732,21328.803316
NOVENA,6110.647755,8215.388499,4975.738399,6676.345246,18574.517287,11752.244549,8362.460425,7294.005866,11277.995270,14602.754264,...,4129.348219,9577.336841,24931.757268,10091.823373,6070.876825,9542.788481,16549.339048,17644.928489,13886.532163,9738.827438
PASIR RIS,18424.440242,19687.502646,18543.164406,16491.799065,7282.283180,22498.500423,22138.206005,6906.966414,24993.363215,27552.943657,...,15701.621521,17315.303654,14141.092782,12571.934513,9432.894871,4546.346049,30255.067804,29186.346009,19371.334181,13029.380081
PIONEER,17427.280096,13135.130386,13579.255662,16408.573636,37010.793522,12119.818545,10078.202846,25156.240468,7162.362851,5355.849843,...,19067.607894,23042.448286,43233.995201,26842.024359,24392.363992,27757.803221,10864.571864,8606.721483,19686.511186,22005.302033
PUNGGOL,17911.549138,16134.744706,16038.757586,12817.930237,12395.644399,18512.017389,19595.639176,5525.545894,22278.349057,24198.477136,...,15262.578183,18443.233600,19238.139803,14761.106661,9987.343856,5420.836392,28930.476006,25180.734973,14501.005352,8364.846140
ANG MO KIO,12020.080253,7828.718734,7962.706239,4567.678265,18247.401735,10579.209686,11389.951997,5611.937348,13965.137210,15850.092436,...,9949.944491,14988.517113,25139.066889,13858.961695,8408.577292,8406.008378,21410.730554,17257.840021,9286.693854,3903.626016
BEDOK,13530.197612,20025.926534,17035.459028,17600.214460,7945.930806,23461.896203,20169.814129,8826.670734,23041.363485,26664.288491,...,11242.055823,10149.537803,13190.516964,4701.639214,6103.130101,6902.361393,25493.928761,29674.117770,23153.391555,16974.245219
BISHAN,9254.644838,7618.915710,6185.009768,4982.463904,17991.818725,10914.823636,9783.626234,5576.921778,12578.283001,15155.403441,...,7170.277459,12323.549514,24695.829389,11744.374658,6635.224666,8288.029792,19149.994104,17359.544518,11402.318073,6654.036292
BOON LAY,14281.370427,10026.759342,10154.853993,13224.017154,33586.838939,9607.061589,6653.861475,21749.490884,3738.507537,3297.918426,...,15766.904586,19994.414696,39834.161752,23568.508312,20979.407630,24337.573625,9875.030124,8067.290269,17241.072189,18934.184295
BUKIT BATOK,11924.113061,2378.277335,4906.542709,5668.089123,27513.342600,3410.786565,4262.786634,15057.443167,5040.613748,5758.864545,...,12047.823451,17471.796913,34143.216403,19427.814140,15485.445926,17816.168131,14690.720541,8138.804549,10210.842134,11277.184980
QUEENSTOWN,5052.679101,9599.935869,5666.139828,10955.232826,25717.784659,12167.064526,4592.520865,15426.375769,6214.068523,10658.260888,...,7041.289980,10683.564613,31470.336595,14595.196229,13127.625500,17492.949727,8419.936397,15319.992055,17956.738351,16265.575862
SELETAR,17137.520159,13060.302717,13795.459143,9766.710018,16019.534606,15085.489536,17186.218282,6089.020702,19672.833074,21113.887242,...,14710.287954,18868.539924,22929.782695,16151.832769,10758.833631,7571.715529,27206.589257,21683.903604,10684.479247,4664.124821
SEMBAWANG,20680.516500,11523.121749,14723.923138,9434.591431,24124.843418,11502.295496,17044.783172,13224.315346,18618.874092,18266.804043,...,18939.533752,24159.303777,31010.646112,22805.721987,17246.409077,15374.492150,27893.999632,16978.818088,4178.089942,5346.731736
SENGKANG,14900.594973,13049.139364,12746.427479,9762.607925,13805.456461,15650.620298,16310.398312,3065.359487,19013.802250,21072.396093,...,12325.251302,16060.238222,20768.731778,13103.994406,7785.325219,4637.163036,25683.015485,22345.669063,12636.687004,6212.869125
SERANGOON,11322.829039,10553.862351,9424.004179,7521.485391,15109.620109,13611.719831,13026.895634,2452.475965,15829.338042,18317.350172,...,8814.990194,13041.194274,21946.293480,11025.090934,5462.230606,5265.402405,22080.833463,20218.267201,12469.211012,6483.972384
SIMPANG,19368.450669,12716.308025,14687.577634,9766.265134,19736.612689,13859.201537,17682.883232,9706.652301,19798.171225,20408.846482,...,17206.586256,21897.331904,26583.226286,19703.485938,14187.729993,11444.053624,28272.053618,20078.215583,7874.040990,3968.886376
SOUTHERN ISLANDS,4879.377732,16349.183981,11846.216949,16564.916236,23173.271377,19414.439343,12202.288124,16496.127165,13908.725609,18358.040411,...,6970.269777,5186.257652,27703.862024,10607.763275,12379.267857,17479.804987,11201.193945,23057.015677,24018.192280,20613.651669
SUNGEI KADUT,17874.833064,6155.873089,10647.876222,6882.104452,28573.671953,3968.105153,11341.891616,16052.831982,11904.050888,10429.915037,...,17162.949332,22818.640840,35511.600316,23392.033584,18388.022013,18807.334099,21732.505763,8758.580192,4086.130303,8944.141085
TAMPINES,16707.213837,21619.092124,19219.371993,18835.311571,4513.329239,24888.292541,22580.371814,9089.426612,25492.209391,28805.883705,...,14226.572546,13786.067821,10722.596643,8372.964380,8257.201111,6429.525920,28775.188865,31360.175820,23433.866583,17033.893464
TANGLIN,3966.821597,8148.699137,3830.869112,7767.102674,20803.716592,11585.581379,6407.758986,10095.204312,9252.644324,13068.978871,...,3314.156409,8850.836743,26895.682922,10904.776648,8123.695601,12198.633383,13707.457418,16738.232977,15228.900602,11992.902536
TENGAH,14568.122379,4935.700577,7845.595364,8186.149413,30460.538639,3157.912227,6233.755413,17923.514343,5467.236175,3617.923674,...,14937.710912,20241.065868,37129.722559,22418.741192,18512.511708,20709.154083,15235.478668,5125.734554,10783.674298,13322.473700
TOA PAYOH,8184.000936,10347.828655,7861.438815,7991.510279,15650.758975,13773.008584,11357.702301,4374.655590,14266.118245,17383.430285,...,5601.733193,9926.579744,22152.416923,8725.051331,3620.138679,6487.964043,19419.837462,20042.384855,14356.376006,9063.515603
TUAS,21116.541917,18979.836986,18769.188174,22187.794284,41733.872781,18147.457028,15165.094834,30398.906667,12376.256426,11382.921909,...,23208.185549,26257.978493,47639.260622,30712.172827,29055.636165,32869.771203,11173.067030,14130.416458,25712.655029,27885.512394
DOWNTOWN CORE,3868.636345,12751.945928,8650.417655,11629.785241,17354.001497,16265.127449,11080.707436,9315.676813,13795.266903,17822.379053,...,1632.015746,4619.938561,22905.611780,6180.142037,5344.354589,10391.667384,15952.162052,21584.793453,18859.322911,14327.999651
MARINA EAST,7042.428123,16850.241438,12796.933394,15491.512207,15313.667970,20377.034930,15110.255020,10815.388354,17730.552137,21868.934908,...,5701.336960,2831.595403,20032.041331,2778.790328,6092.410183,10810.698823,18447.157636,25722.226775,22484.365995,17381.718933
MARINA SOUTH,6586.725305,17028.286180,12832.857855,15877.136055,16369.752757,20529.413821,14912.759084,11790.686574,17439.623225,21664.053399,...,5689.045517,1718.455286,20924.447658,3768.983398,7089.433043,11899.828591,17616.891288,25668.469300,23002.985693,18091.758217
MUSEUM,3614.914642,11348.164375,7284.708879,10264.494928,17962.239657,14863.688934,9862.826645,8891.793666,12639.785548,16571.715477,...,887.240926,5921.684787,23752.481226,7391.054035,5506.668479,10327.019909,15546.836260,20239.652046,17545.201720,13215.301561
NEWTON,4261.402672,9685.954514,5776.513127,8565.542208,18558.429345,13213.818641,8662.239637,8371.948396,11524.931767,15262.408482,...,2080.062241,7609.068779,24616.504879,8808.349716,5882.992602,10214.660733,15505.371853,18736.839969,15878.606752,11763.375895
ORCHARD,3584.376695,9695.810011,5582.174443,8824.246527,19159.629642,13196.379809,8247.282021,9105.750885,11071.199486,14918.256691,...,1735.846056,7388.591834,25142.116927,9060.898866,6506.261128,10929.047623,14785.518743,18538.470552,16209.832329,12305.825508
OUTRAM,2330.763366,12052.906126,7735.730738,11324.404305,18907.214293,15505.695483,9830.207474,10392.803848,12458.711295,16589.469254,...,807.930198,4944.845789,24449.250844,7584.866953,6752.036947,11709.873987,14414.640741,20532.242108,18707.789303,14626.247117
RIVER VALLEY,3002.486656,10192.698069,5973.328686,9426.366772,19266.178790,13671.884278,8431.162775,9549.730511,11202.634416,15151.126857,...,1190.296296,6832.656044,25143.009221,8813.631198,6677.978180,11264.254342,14461.649554,18888.202551,16827.381806,12941.270058
ROCHOR,4775.430306,11308.239748,7529.126561,9894.033067,17017.673646,14847.751099,10404.977833,7732.987217,13249.739403,17025.376500,...,2051.959536,6526.134848,22950.992426,7068.715240,4438.236566,9174.498882,16638.143803,20478.034255,17017.297009,12394.104998
SINGAPORE RIVER,2728.259723,11382.891056,7144.707832,10554.169342,18736.425191,14861.216911,9455.620533,9764.025224,12163.252093,16203.240234,...,0.000000,5655.692373,24432.279908,7812.060048,6363.503255,11212.753083,14698.465271,20027.128573,17920.469597,13821.045846
STRAITS VIEW,5800.375314,16994.785211,12631.143946,16172.672171,18079.710186,20432.304444,14335.079601,13074.963742,16703.135832,21028.552713,...,5655.692373,0.000000,22523.256601,5469.861554,8456.897338,13406.392458,16141.568879,25238.236893,23463.842396,18886.867081
CHANGI BAY,26663.970694,32314.728877,29906.421553,29451.542056,6963.328168,35531.702258,33205.065530,19535.809090,36105.108163,39513.990047,...,24432.279908,22523.256601,0.000000,17263.411328,18878.796478,16733.247795,38469.330748,42054.566212,33392.485873,26979.440229
MARINE PARADE,9595.800021,18303.253061,14584.338004,16511.149567,12612.107756,21842.495828,17242.020949,10063.800977,19975.136500,23962.488549,...,7812.060048,5469.861554,17263.411328,0.000000,5565.249406,9363.812051,21207.178403,27544.007807,23074.230011,17480.693074
GEYLANG,9052.865975,13926.812556,11043.957271,11603.113070,12680.341719,17378.827264,14335.773634,4726.302388,17243.648729,20673.631073,...,6363.503255,8456.897338,18878.796478,5565.249406,0.000000,5101.546596,21053.433595,23573.366322,17688.332305,11932.288186
PAYA LEBAR,13940.794275,15799.844748,14186.186644,12783.470977,9854.516628,18873.452155,17754.262382,2819.030407,20639.451542,23439.532405,...,11212.753083,13406.392458,16733.247795,9363.812051,5101.546596,0.000000,25712.952218,25482.704472,17004.342100,10608.904363
WESTERN ISLANDS,12085.688405,16434.287300,13589.709392,18658.600711,33281.851530,17795.965181,10850.901590,23786.112430,9857.936895,12975.010724,...,14698.465271,16141.568879,38469.330748,21207.178403,21053.433595,25712.952218,0.000000,17928.060987,24853.795280,24307.491015
WESTERN WATER CATCHMENT,19498.609475,9741.338977,12966.105831,12724.814637,35305.476672,6695.187847,10976.676667,22669.752026,9272.310087,5046.591189,...,20027.128573,25238.236893,42054.566212,27544.007807,23573.366322,25482.704472,17928.060987,0.000000,12804.576243,17057.923521
WOODLANDS,19189.279821,8486.111357,12440.999877,7462.027830,26431.880659,7637.796731,14089.693860,14453.758890,15231.572635,14353.166329,...,17920.469597,23463.842396,33392.485873,23074.230011,17688.332305,17004.342100,24853.795280,12804.576243,0.000000,6428.377065
YISHUN,15778.005629,8907.549437,10729.064832,5830.855805,20016.590581,10525.326271,13724.053165,8165.684903,15900.703937,16805.419367,...,13821.045846,18886.867081,26979.440229,17480.693074,11932.288186,10608.904363,24307.491015,17057.923521,6428.377065,0.000000