In [ ]:
import json
import math
import fiona
import pandas as pd
import numpy as np
import geopandas as gpd
from shapely import geometry
from shapely.geometry import Polygon, LineString, Point
import matplotlib as mpl
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D 
from numpy import nan
import statistics

In [63]:
path = '/Users/paw_paw/Library/CloudStorage/GoogleDrive-keyuqing597@gmail.com\
/我的云端硬盘/PC5287_M.SC Coursework Thesis for Physics And Technology/data set'

data = pd.read_json(path+'/SG_landuse_wGPR.json')

In [106]:
with open(path+'/SG_landuse_wGPR.json','r') as f:
    data = f.read()
    print(data)

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

In [100]:
file

In [101]:
df = gpd.read_file(file)

DriverError: '/vsimem/d831b2f015914084b3c027a5f21cc382' not recognized as a supported file format.

In [64]:
data['attributes'][0]

{'OBJECTID': 108481,
 'LU_DESC': 'BUSINESS 2',
 'LU_TEXT': None,
 'LU_DT_DESC': None,
 'GPR': '1.0',
 'GPR_NUM': 1,
 'WHI_Q_MX': None,
 'GPR_B_MN': None,
 'REGION_N': 'WEST REGION',
 'PLN_AREA_N': 'TUAS',
 'SUBZONE_NO': 6,
 'SUBZONE_N': 'TUAS VIEW EXTENSION',
 'CREATE_BY': 'Poh Sock Geck',
 'CREATE_DT': 1548851081000,
 'LST_MDF_BY': 'Poh Sock Geck',
 'LST_MDF_DT': 1548851081000,
 'SYSTEM_ID': '300119-176077734734',
 'SHAPE_Length': 5204.536600257122,
 'SHAPE_Area': 735026.4726058175}

check the datatype of the 2 columns...but it turns out that they are all list.

In [4]:
def extract_element(desc_pa,element):
    return desc_pa.get(element)

data['GPR'] = data.attributes.apply(extract_element,args=('GPR',))
# i dont know why the comma needs to be added 
# https://zhuanlan.zhihu.com/p/55073568

data['GPR_NUM'] = data.attributes.apply(extract_element,args=('GPR_NUM',))

data['PLN_AREA_N'] = data.attributes.apply(extract_element,args=('PLN_AREA_N',))

data['SUBZONE_N'] = data.attributes.apply(extract_element,args=('SUBZONE_N',))

data['SHAPE_Area'] = data.attributes.apply(extract_element,args=('SHAPE_Area',))

data['LU_DESC'] = data.attributes.apply(extract_element,args=('LU_DESC',))

In [5]:
data.groupby(['LU_DESC']).sum()

/var/folders/zy/v_jx4f3s485gxnp_qn6_qjw40000gn/T/ipykernel_95299/2122866701.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data.groupby(['LU_DESC']).sum()

                                              GPR_NUM    SHAPE_Area
LU_DESC
BUSINESS 1                                  3537.3000  7.352211e+06
BUSINESS 1 - WHITE                           126.5000  1.596813e+05
BUSINESS 2                                  9017.5000  9.870066e+07
BUSINESS 2 - WHITE                            47.0000  2.121249e+05
BUSINESS PARK                                424.2000  2.093600e+06
BUSINESS PARK - WHITE                         38.7000  1.982932e+05
COMMERCIAL                                  7960.5000  2.634842e+06
COMMERCIAL & RESIDENTIAL                    2279.0800  2.427004e+06
COMMERCIAL / INSTITUTION                    1489.6000  1.360587e+05
HEALTH & MEDICAL CARE                          4.2000  1.766409e+04
HOTEL                                        909.4000  9.035503e+05
RESIDENTIAL                                31833.5168  8.676592e+07
RESIDENTIAL / INSTITUTION                   2610.0000  2.787076e+05
RESIDENTIAL WITH COMMERCIAL AT 1ST STOREY   6468.4000  1.909473e+06
WHITE                                        985.8000  1.266038e+06

In [6]:
data.dtypes

attributes     object
geometry       object
GPR            object
GPR_NUM       float64
PLN_AREA_N     object
SUBZONE_N      object
SHAPE_Area    float64
LU_DESC        object
dtype: object

In [7]:
data['POP_DENS'] = data.apply(lambda x: x['GPR_NUM'] * x['SHAPE_Area'], axis=1)

In [8]:
data

,attributes,geometry,GPR,GPR_NUM,PLN_AREA_N,SUBZONE_N,SHAPE_Area,LU_DESC,POP_DENS
0,"{'OBJECTID': 108481, 'LU_DESC': 'BUSINESS 2', ...","{'rings': [[[103.6141365232126, 1.252949266554...",1.0,1.0,TUAS,TUAS VIEW EXTENSION,735026.472606,BUSINESS 2,735026.472606
1,"{'OBJECTID': 108482, 'LU_DESC': 'BUSINESS 2', ...","{'rings': [[[103.61413257364292, 1.26050061227...",1.0,1.0,TUAS,TUAS VIEW EXTENSION,345914.636037,BUSINESS 2,345914.636037
2,"{'OBJECTID': 108669, 'LU_DESC': 'BUSINESS 2', ...","{'rings': [[[103.61413257364292, 1.26050061227...",1.0,1.0,TUAS,TUAS VIEW EXTENSION,9411.081297,BUSINESS 2,9411.081297
3,"{'OBJECTID': 108617, 'LU_DESC': 'BUSINESS 2', ...","{'rings': [[[103.61084243369223, 1.27424179894...",1.0,1.0,TUAS,TUAS VIEW EXTENSION,966310.427138,BUSINESS 2,966310.427138
4,"{'OBJECTID': 108505, 'LU_DESC': 'BUSINESS 2', ...","{'rings': [[[103.61637440251737, 1.27216319344...",1.0,1.0,TUAS,TUAS VIEW EXTENSION,8077.741680,BUSINESS 2,8077.741680
...,...,...,...,...,...,...,...,...,...
33112,"{'OBJECTID': 110388, 'LU_DESC': 'RESIDENTIAL',...","{'rings': [[[103.9048849196422, 1.311382377246...",1.4,1.4,MARINE PARADE,KATONG,288.225272,RESIDENTIAL,403.515381
33113,"{'OBJECTID': 110401, 'LU_DESC': 'RESIDENTIAL',...","{'rings': [[[103.90458099712198, 1.31143812192...",1.4,1.4,MARINE PARADE,KATONG,130.410105,RESIDENTIAL,182.574148
33114,"{'OBJECTID': 111503, 'LU_DESC': 'RESIDENTIAL',...","{'rings': [[[103.90471532402312, 1.31125518331...",1.4,1.4,MARINE PARADE,KATONG,164.929047,RESIDENTIAL,230.900666
33115,"{'OBJECTID': 111504, 'LU_DESC': 'RESIDENTIAL',...","{'rings': [[[103.90466856255233, 1.31121926332...",1.4,1.4,MARINE PARADE,KATONG,158.483763,RESIDENTIAL,221.877268
33116,"{'OBJECTID': 111855, 'LU_DESC': 'RESIDENTIAL',...","{'rings': [[[103.90499449908609, 1.31175005503...",1.4,1.4,MARINE PARADE,KATONG,133.298841,RESIDENTIAL,186.618378

In [9]:
type(data['geometry'][0])

dict

In [10]:
def get_list(geometry):
    return geometry.get('rings')[0]

data['Geo'] = data['geometry'].apply(get_list)

In [11]:
data['Geo']

0        [[103.6141365232126, 1.252949266554563], [103....
1        [[103.61413257364292, 1.260500612270852], [103...
2        [[103.61413257364292, 1.260500612270852], [103...
3        [[103.61084243369223, 1.274241798946922], [103...
4        [[103.61637440251737, 1.272163193442767], [103...
                               ...
33112    [[103.9048849196422, 1.311382377246048], [103....
33113    [[103.90458099712198, 1.31143812192426], [103....
33114    [[103.90471532402312, 1.311255183319986], [103...
33115    [[103.90466856255233, 1.311219263322595], [103...
33116    [[103.90499449908609, 1.3117500550357], [103.9...
Name: Geo, Length: 33117, dtype: object

We can see that the precision of the numbers are not all the same. Let's set them all the same.

In [12]:
def set_precision(geo_list):
    for element in geo_list:
        element[0] = ("%.14f" % float(element[0]))
        element[1] = ("%.14f" % float(element[1]))
    return geo_list

In [13]:
data['Geo']=data['Geo'].apply(set_precision)

In [14]:
data['Geo']

0        [[103.61413652321259, 1.25294926655456], [103....
1        [[103.61413257364292, 1.26050061227085], [103....
2        [[103.61413257364292, 1.26050061227085], [103....
3        [[103.61084243369223, 1.27424179894692], [103....
4        [[103.61637440251737, 1.27216319344277], [103....
                               ...
33112    [[103.90488491964220, 1.31138237724605], [103....
33113    [[103.90458099712198, 1.31143812192426], [103....
33114    [[103.90471532402312, 1.31125518331999], [103....
33115    [[103.90466856255233, 1.31121926332259], [103....
33116    [[103.90499449908609, 1.31175005503570], [103....
Name: Geo, Length: 33117, dtype: object

In [15]:
def get_polygon(point_list):
    temp_df = pd.DataFrame(point_list)
    temp_gdf = gpd.GeoDataFrame(temp_df, geometry = gpd.points_from_xy(temp_df[0],temp_df[1]))
    poly = geometry.Polygon([[p.x, p.y] for p in temp_gdf.geometry])
    return poly

https://stackoverflow.com/questions/30457089/how-to-create-a-shapely-polygon-from-a-list-of-shapely-points

In [17]:
data['ply'] = data.Geo.apply(get_polygon)

In [18]:
data

,attributes,geometry,GPR,GPR_NUM,PLN_AREA_N,SUBZONE_N,SHAPE_Area,LU_DESC,POP_DENS,Geo,ply
0,"{'OBJECTID': 108481, 'LU_DESC': 'BUSINESS 2', ...","{'rings': [[['103.61413652321259', '1.25294926...",1.0,1.0,TUAS,TUAS VIEW EXTENSION,735026.472606,BUSINESS 2,735026.472606,"[[103.61413652321259, 1.25294926655456], [103....","POLYGON ((103.6141365232126 1.25294926655456, ..."
1,"{'OBJECTID': 108482, 'LU_DESC': 'BUSINESS 2', ...","{'rings': [[['103.61413257364292', '1.26050061...",1.0,1.0,TUAS,TUAS VIEW EXTENSION,345914.636037,BUSINESS 2,345914.636037,"[[103.61413257364292, 1.26050061227085], [103....","POLYGON ((103.61413257364292 1.26050061227085,..."
2,"{'OBJECTID': 108669, 'LU_DESC': 'BUSINESS 2', ...","{'rings': [[['103.61413257364292', '1.26050061...",1.0,1.0,TUAS,TUAS VIEW EXTENSION,9411.081297,BUSINESS 2,9411.081297,"[[103.61413257364292, 1.26050061227085], [103....","POLYGON ((103.61413257364292 1.26050061227085,..."
3,"{'OBJECTID': 108617, 'LU_DESC': 'BUSINESS 2', ...","{'rings': [[['103.61084243369223', '1.27424179...",1.0,1.0,TUAS,TUAS VIEW EXTENSION,966310.427138,BUSINESS 2,966310.427138,"[[103.61084243369223, 1.27424179894692], [103....","POLYGON ((103.61084243369223 1.27424179894692,..."
4,"{'OBJECTID': 108505, 'LU_DESC': 'BUSINESS 2', ...","{'rings': [[['103.61637440251737', '1.27216319...",1.0,1.0,TUAS,TUAS VIEW EXTENSION,8077.741680,BUSINESS 2,8077.741680,"[[103.61637440251737, 1.27216319344277], [103....","POLYGON ((103.61637440251737 1.27216319344277,..."
...,...,...,...,...,...,...,...,...,...,...,...
33112,"{'OBJECTID': 110388, 'LU_DESC': 'RESIDENTIAL',...","{'rings': [[['103.90488491964220', '1.31138237...",1.4,1.4,MARINE PARADE,KATONG,288.225272,RESIDENTIAL,403.515381,"[[103.90488491964220, 1.31138237724605], [103....","POLYGON ((103.9048849196422 1.31138237724605, ..."
33113,"{'OBJECTID': 110401, 'LU_DESC': 'RESIDENTIAL',...","{'rings': [[['103.90458099712198', '1.31143812...",1.4,1.4,MARINE PARADE,KATONG,130.410105,RESIDENTIAL,182.574148,"[[103.90458099712198, 1.31143812192426], [103....","POLYGON ((103.90458099712198 1.31143812192426,..."
33114,"{'OBJECTID': 111503, 'LU_DESC': 'RESIDENTIAL',...","{'rings': [[['103.90471532402312', '1.31125518...",1.4,1.4,MARINE PARADE,KATONG,164.929047,RESIDENTIAL,230.900666,"[[103.90471532402312, 1.31125518331999], [103....","POLYGON ((103.90471532402312 1.31125518331999,..."
33115,"{'OBJECTID': 111504, 'LU_DESC': 'RESIDENTIAL',...","{'rings': [[['103.90466856255233', '1.31121926...",1.4,1.4,MARINE PARADE,KATONG,158.483763,RESIDENTIAL,221.877268,"[[103.90466856255233, 1.31121926332259], [103....","POLYGON ((103.90466856255233 1.31121926332259,..."
33116,"{'OBJECTID': 111855, 'LU_DESC': 'RESIDENTIAL',...","{'rings': [[['103.90499449908609', '1.31175005...",1.4,1.4,MARINE PARADE,KATONG,133.298841,RESIDENTIAL,186.618378,"[[103.90499449908609, 1.31175005503570], [103....","POLYGON ((103.90499449908609 1.3117500550357, ..."

In [19]:
gpr = data.drop(columns=['attributes', 'geometry','Geo','Geo'])

In [20]:
gpr = gpr.rename(columns={'ply':'geometry'})

In [21]:
gpr = gpd.GeoDataFrame(gpr)

In [22]:
for i in range(0,33117):
    if pd.isna(gpr.loc[i,'GPR_NUM'])==True:
        gpr.loc[i,'POP_DENS'] = gpr.loc[i,'SHAPE_Area']*float(gpr.loc[i,'GPR'])

for i in range(0,33117):
    if pd.isna(gpr.loc[i,'POP_DENS'])==True:
        print(gpr.iloc[i])

In [23]:
gpr.set_geometry('geometry')

,GPR,GPR_NUM,PLN_AREA_N,SUBZONE_N,SHAPE_Area,LU_DESC,POP_DENS,geometry
0,1.0,1.0,TUAS,TUAS VIEW EXTENSION,735026.472606,BUSINESS 2,735026.472606,"POLYGON ((103.61414 1.25295, 103.61414 1.25295..."
1,1.0,1.0,TUAS,TUAS VIEW EXTENSION,345914.636037,BUSINESS 2,345914.636037,"POLYGON ((103.61413 1.26050, 103.61414 1.25295..."
2,1.0,1.0,TUAS,TUAS VIEW EXTENSION,9411.081297,BUSINESS 2,9411.081297,"POLYGON ((103.61413 1.26050, 103.60571 1.26050..."
3,1.0,1.0,TUAS,TUAS VIEW EXTENSION,966310.427138,BUSINESS 2,966310.427138,"POLYGON ((103.61084 1.27424, 103.61638 1.27216..."
4,1.0,1.0,TUAS,TUAS VIEW EXTENSION,8077.741680,BUSINESS 2,8077.741680,"POLYGON ((103.61637 1.27216, 103.61638 1.27216..."
...,...,...,...,...,...,...,...,...
33112,1.4,1.4,MARINE PARADE,KATONG,288.225272,RESIDENTIAL,403.515381,"POLYGON ((103.90488 1.31138, 103.90478 1.31130..."
33113,1.4,1.4,MARINE PARADE,KATONG,130.410105,RESIDENTIAL,182.574148,"POLYGON ((103.90458 1.31144, 103.90453 1.31140..."
33114,1.4,1.4,MARINE PARADE,KATONG,164.929047,RESIDENTIAL,230.900666,"POLYGON ((103.90472 1.31126, 103.90467 1.31122..."
33115,1.4,1.4,MARINE PARADE,KATONG,158.483763,RESIDENTIAL,221.877268,"POLYGON ((103.90467 1.31122, 103.90465 1.31120..."
33116,1.4,1.4,MARINE PARADE,KATONG,133.298841,RESIDENTIAL,186.618378,"POLYGON ((103.90499 1.31175, 103.90496 1.31172..."

In [24]:
gpr = gpr.set_crs(epsg=4326,allow_override=False)
gpr = gpr.to_crs(3414)

In [35]:
gpr.to_file(path+'/SG_GPR_sorted.geojson', driver='GeoJSON')

Now the GPR data has got sorted out.